<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>DIGDEEP | Notificación de pago</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />   
    <style type="text/css">
        body { 
            width: 100%; 
            background-color: #ececec; 
            margin: 0; 
            padding: 0; 
            -webkit-font-smoothing: antialiased; 
            font-family: Arial, Times, serif; 
        }
        table { 
            width: 100%;
            max-width: 600px;
            height: auto;
            padding: 0; 
            margin: auto;
            border-collapse:collapse;
            border: none;
             }

        .img { 
            max-width:100% !important; 
            margin: 0;
            padding: 0;
            border:0;
        }        
        p{
          display: block;
            -webkit-margin-before:.5em;
            -webkit-margin-after: .5em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;  
        }
        .borderIzquierda{
            border-left-style: solid;
            border-width: 2px;
            border-color: #b3acac;
        }
        .borderDerecha{
            border-right-style: solid;
            border-width: 2px;
            border-color: #b3acac;
        }
        .borderPanel{
            border-top-style: solid;
            border-top-color: #c5c4c4d9;
            border-top-width: 2px;
            border-color: #b3acac;"
       }
    </style>
</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" yahoo="fix" style="background-color:white; font-family:Arial,serif;margin:0;padding:0;min-width: 100%; -webkit-text-size-adjust:none;-ms-text-size-adjust:none;">

    <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td height="50"></td><!-- Spacer -->
        </tr>
    <table>
    
    <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" >    
     
        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" >
            <tr>
                <td
                    width="600" valign="top" align="center">
                    <div >
                     
                        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" >
                            <tr align="center" height="90px">
                                <td width="240px">
                                <table style="height: 50px;">
                                                <tr> <td></td></tr>
                                            </table>
                                            <table style="height: 35px;border-left-style: solid;
    border-left-width: 2px;
    border-color: #b3acac;" class="borderPanel">
                                                <tr> <td style="padding:5px;padding-left: 8px;
    padding-right: 8px;;background-color: #1d75b6;"><a href="https://www.facebook.com/digdeepmx/" border="0" ><img style="width:20px" src="https://res.cloudinary.com/dclbqwg59/image/upload/v1533929038/iconos/facebook-01_1.png"></a></td>
                                                <td style="padding:5px;padding-left: 8px;
    padding-right: 8px;background-color: #1d75b6;"><a border="0"><img style="width:20px" src="https://res.cloudinary.com/dclbqwg59/image/upload/v1533928989/iconos/instagram-01.png"></a></td>
                                                <td style="padding:5px;padding-left: 8px;
    padding-right: 8px;;background-color: #1d75b6;"><a border="0"><img style="width:20px" src="https://res.cloudinary.com/dclbqwg59/image/upload/v1533928989/iconos/twitter-01.png"></a></td>
    <td style="padding:5px;padding-left: 8px;
    padding-right: 8px;background-color: #E8E8E8;width:120px"></td></tr>
                                            </table>
                                    
                                            <table class="borderIzquierda" style=";height: 50px;">
                                                <tr> <td></td></tr>
                                            </table>
                                </td>
                                <td width="120px">
                                    <img src="https://res.cloudinary.com/dclbqwg59/image/upload/v1533933437/iconos/logoBarDD.png" class="img"
                                        width="120px">
                                </td>
                                <td width="240px">
                                <table style="height: 50px;">
                                                <tr> <td></td></tr>
                                            </table>
                                    <table style="height: 35px;border-right-style: solid;
    border-right-width: 2px;
    border-color: #b3acac;" class="borderPanel">
                                                <tr> <td style="background-color: #e8e8e8;"></td></tr>
                                            </table>
                                            <table style="height: 50px;border-right-style: solid;
    border-right-width: 2px;
    border-color: #b3acac;">
                                                <tr> <td></td></tr>
                                            </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>                                            
             </tr>
        </table> 
        
        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" style="
            border-left-style: solid;
            border-right-style: solid;
            border-width: 2px;
            border-color: #b3acac;">
            <tr width="600px" height="auto"  align="center" bgcolor="#ffffff">
                <td  style="padding: 20px 10px 0px 10px; color: #58297a; line-height: 30px; font-family: Arial, sans-serif; font-weight:bold; font-size: 20px;">
                    <h4>
                        <span style="color: #58297a">Hola {{email}}</span>
                        <br>
                            Bienvenido a Match Inmobiliario App
                    </h4>
                </td>
             </tr>
        </table>                 

        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" style="
            border-left-style: solid;
            border-right-style: solid;
            border-width: 2px;
            border-color: #b3acac;">    
            <tr width="600px" height="auto"  align="justify"  >
                <td style="padding: 0px 30px 10px 30px; color: #888888;font-family: Helvetica Neue,Helvetica,  sans-serif; font-size: 17px; line-height:1.5;" bgcolor="#ffffff"> 
                    <p>
                        Tu registro se ha realizado con éxito, por favor para verificar tu cuenta ingresa en la app, el siguiente codigo:<br>
                        <strong>{{codigo_verificacion}}</strong>
                        <br> al iniciar sesión por primera vez.
                    </p>
                    <p>
                        Y a sí podrás descubrir, recibir y disfrutar de diversos metodos para encontrar el inmueble de tu preferencia a través de nuestra App.
                        Para cualquier aclaración puedes enviarnos un e-mail a: 
                        <a href="mailto:match@inmobiliario.mx ?Subject=Aclaracion%20MatchInmobiliario" style="color: #58297a">
                            match@inmobiliario.mx
                        </a>
                    </p>                            
                </td>                                                
            </tr>
        </table>

        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="
            border-left-style: solid;
            border-right-style: solid;
            border-width: 2px;
            border-color: #b3acac;">
            <tr>
                <td width="600px" height="80px"  align="center" style="color: #58297a;">
                    <h2 style="text-decoration: underline;">¡Muchas gracias por tu preferencia!</h2>
                </td>
             </tr>
        </table>

        <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center" style="
            border-left-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-width: 2px;
            border-color: #b3acac;">    
            <tr width="600px" height="auto"  align="justify"  >
                <td style="padding: 0px 30px 10px 30px; color: #888888;font-family:Helvetica Neue,Helvetica,  sans-serif; font-size: 17px; line-height:1.5;" bgcolor="#ffffff"> 
                    <p>
                        Este mensaje es generado automáticamente por un sistema. Favor de no responder ya que los
                        mensajes no se supervisan. Todos los derechos reservados a MATCH INMOBILIARIO APP.
                    </p>                            
                </td>                                                
            </tr>
        </table>

    </table>

    <table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td height="50"> </td><!-- Spacer -->
        </tr>
    <table>
    <script type="text/javascript">
        function sendVerification(url) {
            var urlVerificacion = ""
                urlverification = url
            $.ajax({
                url : urlverification,
                method : 'post', //en este caso
                dataType : 'json',
                success : function(response){
                    console.log(response)
                },
                error: function(error){
                    console.log(error)
                }
            });
        }
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</body>
</html>