@font-face{
    font-family: "Ubuntu-Regular";
    src: url('../fonts/Ubuntu-Regular.ttf') format("truetype");
}
@font-face{
    font-family: "FjallaOne-Regular";
    src: url('../fonts/FjallaOne-Regular.ttf') format("truetype");
}
@font-face{
    font-family: "MyriadPro-Regular";
    src: url('../fonts/MyriadPro-Regular.otf') format("truetype");
}
@font-face{
    font-family: "Ubuntu-Bold";
    src: url('../fonts/Ubuntu-Bold.ttf') format("truetype");
}
@font-face{
    font-family: "Ubuntu-Medium";
    src: url('../fonts/Ubuntu-Medium.ttf') format("truetype");
}
.staticP{
    font-family: 'Ubuntu-Regular';
    background-color: #f1f1f1;
    color: #1d75b6;
    border-radius: 10px;
    padding: 20px;
}
.card_credit{
    background-color: white;
    color: #04456b;
    border-radius: 5px;
    font-family: Roboto;
}
.fc .fc-toolbar > * > :first-child{
    color: #1d75b6;
}
.fc th, .fc td{
    color: #2d98c9;
}
.fc-day:hover{
    background-color: #80808091;
    background-image: url(../img/plusCalendar.png) !important;
    opacity: 0.35;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
/*.fc-event-container:hover{
    background-color: #80808091;
    background-image: url(../img/plusCalendar.png) !important;
    opacity: 0.35;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}*/
.contencInb1{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 6px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #26a5dc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #26a5dc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**/
.full button span {
    background-color: #ffa500f7;
    border-radius: 32px;
    padding: 5px;
    color: white;
}
.partially button span {
    background-color: red;
    border-radius: 32px;
    color: black;
    padding: 5px;
    color: white;
}
a.iconsocial:hover {
    background-color: #26a5dc !important;
}
.carousel-indicators {
    bottom: 0px !important;
}
div.pac-container {
    z-index: 100000 !important;
}
.angular-google-map-container { height: 400px; }
.coverageMap{
    margin-top: 30px;
    height: 70vh;
}
.mapCanvas{
    position: relative;
}
.centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;

    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;

    cursor:pointer;
}
#map {
    height: 400px;
    width: 100%;
}
.imgprofileCard{
    border-radius: 50px;
    margin: 0 auto;
    border: solid;
    border-color: #2d98c9;
}
.titleSorry {
    color: #1d75b6;
    font-family: 'Ubuntu-Regular';
    text-align: center;
}
a,
.fa-remove:before, 
.fa-close:before, 
.fa-times:before{
    cursor: pointer;
}
/*.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete{
    display: block;
    margin: 0 auto;
}*/
.dz-image{
    margin: 0 auto;
}
.titleSEservices{
    font-family: FjallaOne-Regular;
    color: white;
    padding: 2px 12px;
    background-color: #662480;
    margin-top: initial;
}
.titleLSservices{
    font-family: FjallaOne-Regular;
    color: white;
    padding: 2px 12px;
    background-color: #f61a5e;
    margin-top: initial;
}
.cardServicebtnDE:hover{
    background-color: #26a5dc;
}
.divCalendar{
    display:inline-block; 
    min-height:290px;
    margin-bottom: -45px;
}
.imgCardservice{
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.imgCardDigdeeper{
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: solid 2px;
    border-color: #04456b;
}
.contentCardService{
    padding-left: 10px;
    padding-right: 10px;
    height: 125px;
    overflow: hidden;
}
.contentCardServiceESLS{
    padding-left: 10px;
    padding-right: 10px;
    height: 160px;
    overflow: hidden;
}
.dropzone {
    border: 1px solid #04456b !important;
    background: transparent !important;
    border-radius: 10px !important;
    margin: 15px !important;
}
.dropzoneLogo {
    padding: initial !important;
    height: 160px;
    width: 100%;
    border: 1px solid #cecece !important;
    background: #f1f1f1 !important;
    border-radius: 5% !important;
    margin:  0 auto!important;
    text-align: center !important;
}
.passworddiv-modal{
    padding-right: 20px;
    padding-left: 20px;
}
.containerDDMenu,
.containerUsr{
    margin-top: 70px;
    margin-bottom: 50px;
}
.cardService{
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
}
.subtopnavRow{
    padding-left: 65px;
}
.botonInputFileModificado {
    font-family: "Ubuntu-Bold";
    position: relative;
    border-radius: 5px;
    background-color: #04456b;
    color: #fff;
    border: 1px solid #04456b;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 110px;
    cursor: pointer;
}

.botonInputFileModificado:hover {   
    background-color: #04456b8a;
    color: white;
    cursor: pointer;
}

.botonInputFileModificado .inputImagenOculto {
    opacity: 0;
    position: absolute;
    width: 110px;
    cursor: pointer;
}

.botonInputFileModificado .boton {
    text-align: center;
    cursor: pointer;
}
.messageContact{
    resize: none;
    margin: 0px; 
    width: 100%; 
    height: 130px;
}
.messageRDD{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: #003148;
}
.digEmpImg{
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 34px;
    float: right;
}
.linkprehomeDP:hover .digPerImg{
    opacity: 0.8;
}
.linkBarRabbits{
    cursor: pointer;
}
.linkBarRabbits:hover .rabbitColor{
    width: 50px;
}
.linkSubTopnav:hover .text-subtopnavMenu,
.linkSubTopnav:hover .fa-sort-desc{
    color: #1D75B6 !important
}
.hrTopmenu{
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px solid #1f76b8;
}
.formInvalidText{
    font-size: 11px;
    color: #f61a5e;
    font-family: "Ubuntu-Regular";
}
.asterikformInvalid{
    font-size: 11px;
    color: #f61a5e !important;
}
input[type=radio].radioRegisterUser {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #04456b;
    border: double 2px #04455b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=radio].radioRegisterUser:checked {
    background-color: white;
    border-color: #84ccef;
}
input[type=checkbox].checkRU{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #04456b;
    border: double 2px #04455b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=checkbox].checkRU:checked {
    background-color: white;
    border-color: #84ccef;
}
.radioRegisterUser{
    font-family: "FjallaOne-Regular";
    font-size: 17px;
    color: white;
}
.containerCardSD{
    background-color: #1d75b6;
    border-radius: 6px;
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
    height: 100%;
}
.containerCardSDPlus{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
    height: 98%;
}
.footerCardSDD{
    font-family: "Ubuntu-Medium";
    font-size: 20px;
    background-color: #04456b;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.titleCardSDD{
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: white;
}
.subtitleCardSDD{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: white;
}
.contentCardSDD{
    font-family: "Ubuntu-Regular";
    font-size: 14px;
    color: white;
}
.calInbox{
    font-family: "Ubuntu-Bold";
    font-size: 14px;
    color: #04456b;
}
.inboxContent{
    background-color: #f1f1f1;
    height: 100px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.commentContent,
.providerContent{
    background-color: #f1f1f1;
    height: 250px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
}
.divImgInbox{
    padding: initial;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btnDivInbox{
    height: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}
.inboxText1{
    font-family: "Ubuntu-Bold";
    font-size: 13px;
    color: #04456b;
}
.inboxText2{
    font-family: "Ubuntu-Medium";
    font-size: 13px;
    color: #04456b;
}
.inboxText3{
    font-family: "Ubuntu-Regular";
    font-size: 11px;
    color: #04456b;
}
.inboxText4{
    font-family: "Ubuntu-Regular";
    font-size: 13px;
    color: #04456b;
}
.linkDDProfile{
    font-family: "FjallaOne-Regular";
    font-size: 15px;
    color: #808080;
}
.linkDDProfile:hover,
.linkDDProfile:active,
.linkDDProfile:focus{
    color: #04456b;
}
div.digdeperImg{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: -36px;
}
img.digdeperImg{
    border-radius: 50%;
    border: solid 2px;
    border-color: #04456b;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
div.digdeperTitleCard{
    font-family: "FjallaOne-Regular";
    font-size: 25px;
    color: white;
    padding-top: 12px;
}
.digdeperSubTitleCard{
    font-family: "Ubuntu-Bold";
    font-size: 14px;
}
.digdeperContentCard{
    font-family: "Ubuntu-Regular";
    font-size: 13px;
}
.separatorProfileTitle{
    color: #1d75b6;
    font-family: "FjallaOne-Regular";
    font-size: 30px;
}
.labelProfile,
.labelSendS{
    color: #04456b;
    font-family: "Ubuntu-Regular";
    font-size: 11px;
}
.textContentProfile{
    color: #1d75b6;
    font-family: "Ubuntu-Regular";
    font-size: 15px;   
}
.changeBtnImgProfile,
.btnCancelProfile,
.btnCancelCS{
    background-color: #04456b;
    color: white;
    font-family: "Ubuntu-Bold";
}
.changeBtnImgProfile:hover,     .btnCancelProfile:hover,    .btnCancelCS:hover,
.changeBtnImgProfile:active,    .btnCancelProfile:active,   .btnCancelCS:active,
.changeBtnImgProfile:focus,     .btnCancelProfile:focus,    .btnCancelCS:focus{
    background-color: #04456b8a;
    color: white;
}
.btnEditProfile, 
.btnEditCS,
.btnFinish{
    background-color: #26a5dc;
    color: white;
    font-family: "Ubuntu-Bold";
}
.btnEditProfile:hover,
.btnEditCS:hover,
.btnFinish:hover,
.btnEditProfile:active,
.btnEditCS:active,
.btnFinish:active,
.btnEditProfile:focus,
.btnEditCS:focus,
.btnFinish:focus{
    background-color: #26a5dc8c;
    color: white;
}
.inputProfile,
.inputSendS{
    font-family: ="Ubuntu-Regular";
    color: #1d75b6;
    background-color: #f1f1f1;
}
.imgProfile{
    width: 100%;
    border: solid 4px;
    color: #04456b;
    border-radius: 50%;

}
.containerLogin{
    width: 30vw;
}
.logoLogin{
    max-width: 155px;
    display: block;
    margin: 0 auto;
}
.loginText1{
    font-family: "FjallaOne-Regular";
    font-size: 22px;
    letter-spacing: 3px;
    color: #1d75b6;
}
.selectRolLogin{
    font-family: "FjallaOne-Regular";
    font-size: 30px;
    color: #1d75b6;
    background-color: transparent;
    border-radius: initial;
}
.selectRolLogin:hover,
.selectRolLogin:focus,
.selectRolLogin:active{
    color: #26a5dc !important;
    outline: none;
}
.selectRolLogin.active{
    color: #26a5dc !important;
    outline: none;
}
.loginText2{
    font-family: "FjallaOne-Regular";
    font-size: 40px;
    color: #1d75b6;
}
.btnInitSesion{
    background-color: #26a5dc;
    color: white;
    font-family: "Ubuntu-Bold";
}
.btnInitSesion:hover,
.btnInitSesion:active,
.btnInitSesion:focus{
    background-color: #26a5dc8a;
    color: white;
}

.loginLinks{
    color: #04456b;
    font-family: ="Ubuntu-Regular";
    font-size: 11px;
}
input[type=checkbox].checkServiceEdit {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: double 2px white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=checkbox].checkServiceEdit:checked {
    background-color: white;
}
input[type=checkbox].checkDD {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: double 2px #04456b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=checkbox].checkDD:checked {
    background-color: #04456b;
}
input[type=checkbox].checkES {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: double 2px #9c76c4;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=checkbox].checkES:checked {
    background-color: #9c76c4;
}
input[type=checkbox].checkLS {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: double 2px #f61a5e;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
input[type=checkbox].checkLS:checked {
    background-color: #f61a5e;
}
.modal-content{
    border-radius: 19px;
}
.modalHeaderCS{
    background-color: #04456B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modalFooterCS{
    background-color: #04456B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modalBodyCS{
    background-color: #1d75b6;
    margin-top: -1px;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modalBodyRU{
    background-color: #1d75b6;
    margin-top: -1px;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 260px;
}
.btnCSLeft{
    border-bottom-right-radius:0px; 
    border-top-right-radius: 0px;
    background-color: #4a91c5;
    border-color: #4a91c5;
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: white;
}
.btnCSLeft:hover, 
.btnCSLeft:focus, 
.btnCSLeft:active{
    color: #fff !important;
    background-color: #4a91c5b0 !important;
    border-color: #4a91c5b0 !important;
}
.btnCSRigth{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #165889;
    border-color: #165889;
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: white;
    height: 38px;
    padding: 7px;
}
.btnCSRigth:hover, 
.btnCSRigth:focus, 
.btnCSRigth:active{
    color: #fff !important;
    background-color: #16588980 !important;
    border-color: #16588980 !important;
}
.colFooterBtnLeft{
    padding-right: 0px;
    padding-left: 10px;
}
.colFooterBtnRight{
    padding-left: 0px;
    padding-right: 10px;
}
.btnModalOk{
    background-color: #04456b;
    border-color: #04456b;
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: white;
}
.btnModalOk:hover,
.btnModalOk:focus,
.btnModalOk:active{
    background-color: #04456b8a;
    border-color: #04456b8a;
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: white;
}
.uib-month button, .uib-year button{
    background-color: #04456b; !important;
}
.uib-day button  {
    width: 30px;
    background-color: transparent;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    min-width: 30px !important;
}
button.btn.btn-default.btn-sm:hover {
    background-color: #04456b;
    border-color: #04456b;
    color:white;
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #04456b;
    border-color: #04456b;
}
.uib-datepicker .uib-title{
    font-size: 20px;
}
.glyphicon-chevron-down, 
.glyphicon-chevron-up{
    color: white !important;
}
.labelSelectsHours{
    color: white;
    font-family: "Ubuntu-Regular";
    font-size: 17px;
}
.selectNewEvent{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: #2d98c9;
}
.labelFormDeliveryData,
.labelModalPassword{
    font-family: "Ubuntu-Regular";
    color: white;
    font-size: 17px;
}
.divFormDeliveryData{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.btnFormDeliveryData{
    font-family: "Ubuntu-Bold";
    background-color: #26a5dc !important;
    border-radius: #26a5dc !important;
}
.divBtnDeliveryData{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.inputFormDeliveryData{
    font-family: "Ubuntu-Regular";
    color: #1d75b6;
}
.text1-successSale{
    color: white;
    font-family: "FjallaOne-Regular";
    font-size: 29px;
}
.text-thanksDigdeepear{
    color: #04456b;
    font-family: "FjallaOne-Regular";
    font-size: 24px;
}
.text-welcomDD{
     color: #04456b;
    font-family: "MyriadPro-Regular";
    font-size: 24px;
}
.text-confirmPayCard{
    color: white;
    font-family: "FjallaOne-Regular";
    font-size: 24px;
}
.text2-successSale{
    color: white;
    font-family: "FjallaOne-Regular";
    font-size: 22px;
}
.divIndicatorPay{
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    font-family: "FjallaOne-Regular";
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.divHour{
    padding-left: 27%;
    padding-right: 27%;
}
.uib-time input {
    width: 60px;
    font-family: Ubuntu-Regular;
    color: #1d75b6;
    font-size: 18px;
}
.titleHeaderModalCS{
    color: white;
    font-size: 25px;
    font-family: "FjallaOne-Regular";
}
.titleModalInfo{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: white;
}
.text1ModalInfo{
    font-family: "Ubuntu-Bold";
    font-size: 14px;
    color: white;   
}
.text2ModalInfo{
    font-family: "Ubuntu-Regular";
    font-size: 14px;
    color: white;   
}
.fa{
    color: #808080;
}
.liMenu{
    margin-top: 10px;
    padding-right: 12px;
    padding-left: 12px;
}
.liMenuWithUser{
    margin-top: 29px;
    padding-right: 12px;
    padding-left: 12px;
}
.text-subtopnavMenu{
    font-family: "FjallaOne-Regular";
    color: #808080;
    font-size: 16px;
}
.text-topnavMenu{
    font-family: "FjallaOne-Regular";
    font-size: 18px;
}
.text-topnavMenuLH{
    font-family: "FjallaOne-Regular";
    font-size: 18px;
    padding: 5px !important;
    color: #1d75b6 !important;
    cursor: pointer;
}
.text-topnavMenuG{
    font-family: "FjallaOne-Regular";
    font-size: 18px;
    padding: 5px !important;
    color: #04456B !important;
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #1d75b6;
}
.text-loginCenter{
    font-family: "FjallaOne-Regular";
    font-size: 19px;
}
.navbar{
    border: 0px solid;
    background: transparent;
}
.logoCenterLogin{
    display: block;
    margin: 0 auto;
    max-width: 140px;
    margin-top: -68px;
}
.logoCenterpreHome{
    display: block;
    margin: 0 auto;
    max-width: 140px;
    margin-top: 60px;
}
.iconsSocial {
    font-size: 10px;
    background-color: #1d75ba;
    color: white;
}
.navbarIndex{
    padding-left:   144px;
    padding-right:  144px;
}
.navbarWithUser{
    padding-left: 70px;
    padding-right: 0px;
}
.typesDigdeep{
    display: block;
    margin: 0 auto;
    margin-top: 50px;   
}
.textColorLightBlue{
    color: #1d75b6;
}
.textColorLightBlue2{
    color: #84CCEF;    
}
.colorBlueButtons{
    background-color: #00A9EA;
    color: white;
}
.textColorGray{
    color: #808080 ;
}
.textColorGray2{
    color: #989797;
}
.textColorStrongBlue{
    color:#04456b;
}
.textContentServices{
    color:#04456b;
    font-size: 21px;
    font-family: "FjallaOne-Regular";
}
.textContentServices2{
    color:#003148;
    font-size: 18px;
    font-family: "Ubuntu-Bold";
}
.textContentServices3{
    color:#003148;
    font-size: 18px;
    font-family: "Ubuntu-Regular";
}
.textFooter{
    color:#013751;
    font-family: "FjallaOne-Regular";
}
.textFooterCopyRight{
    color: #989797;
    font-family: "Ubuntu-Regular";
    font-size: 10px;
    margin-bottom: 5px;
}
.textContentHowtobeDD{
    color: #231F20;
    font-family: "Ubuntu-Regular";
    font-size: 18px;
}
.textDirectory{
    color: #111A43;
    font-size: 18px;
    font-family: "FjallaOne-Regular";
}
.textBannerL{
    position: absolute;
    bottom: 34px;
    right: 59px;
    font-size: 24px;
    font-family: "FjallaOne-Regular";
}
.textBannerR{
    position: absolute;
    bottom: 34px;
    left: 59px;
    font-size: 24px;
    font-family: "FjallaOne-Regular";
}
.iconsDigColors{
    max-width: 65px;
    cursor: pointer;
}
.iconsDigColors:hover {
    max-width: 70px;
}

.imgPeopleServices{
    margin:0 auto;
    display:block;
    max-width: 447px;
    margin-top: -248px;
}
.navbarSubTobnav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.divSearch{
    display: block;
    margin: 0 auto;
    max-width: 626px;
}
.inputSearch{
    background-color: #E8E8E8;
    height: 30px;
    width: 100%;
    border: none;
    color:  #04456b!important;
    margin-left: 5px;
    
}
.colLabel{
    padding: 0px;
}
.labelSearch{
    padding-top: 5px;
    padding-left: 2px;
    font-family: "FjallaOne-Regular";
    font-size: 14px;
}
.text-hfList{
    font-family: "FjallaOne-Regular";
    font-size: 21px;
    color: #04456B;
}
.text-hfList2{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: #003148;
}
.text-hfListpink{
    font-family: "FjallaOne-Regular";
    font-size: 21px;
    color: #F61A5E;
}
.text-widd{
    font-family: "FjallaOne-Regular";
    font-size: 21px;
    color: #04456B;
}
.text-widd2{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: #04456B;
}
.text-wtudd{
    font-family: "Ubuntu-Bold";
    font-size: 17px;
    color: #003148;
}
.text-wtudd2{
    font-family: "FjallaOne-Regular";
    font-size: 21px;
    color: #04456B;
}
.text-wtudd3{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: #003148;
}
.containerRabbit{
    height: 56px;
    margin-top: 60px;
}
.backgroundBar{
    background-color: #E8E8E8;
    height: 44px;
    padding-left: 52px;
}
.divLogoBar{
    max-width: 149px;
    margin-top: -43px;
    
}
.logoBar{
    max-width: 152px;
    margin-top: -30px;
}
.rabbitColorDiv{
    width: 135px;
    display: inline-block;
}
.rabbitColor{
    width: 45px;
    margin-top: -18px;
    vertical-align: bottom;
}
.rabbitColorServices{
    width: 55px;
}
.colorPurpleRabbit{
    color: #9C76C4;
    font-family: "FjallaOne-Regular";
    font-size: 15px;
}
.colorPinkRabbit{
    color: #e72161;
    font-family: "FjallaOne-Regular";
    font-size: 15px;
}
.colorRedRabbit{
    color: #DE0613;
    font-family: "FjallaOne-Regular";
    font-size: 15px;
}
.colorBlueRabbit{
    color: #2A4BBA;
    font-family: "FjallaOne-Regular";
    font-size: 15px;
}
.colorGreenRabbit{
    color: #6b8d17;
    font-family: "FjallaOne-Regular";
    font-size: 15px;
}
.colorPurpleRabbitServices{
    color: #5D2C80;
    font-family: "FjallaOne-Regular";
    font-size: 16px;
}
.colorGreenRabbitServices{
    color: #6b8d17;
    font-family: "FjallaOne-Regular";
    font-size: 16px;
}
.colorPinkRabbitServices{
    color: #8A1943;
    font-family: "FjallaOne-Regular";
    font-size: 16px;
}
.colorRedRabbitServices{
    color: #DE0613;
    font-family: "FjallaOne-Regular";
    font-size: 16px;
}
.colorBlueRabbitServices{
    color: #111A43;
    font-family: "FjallaOne-Regular";
    font-size: 16px;
}

.colorBlueTitle{
    color: #1D75B6;
    font-family: "FjallaOne-Regular";
    font-size: 28px;
}
.divHeader{
    background-color: #E8E8E8;
    padding-left: 32%;
    padding-right: 11%;
    margin-top: 80px;
}
.divHeader2{
    background-color: #E8E8E8;
    padding-left: 11%;
    padding-right: 11%;
    margin-top: 80px;
    height: 35px;
}

.containerServices{
    margin-top: -1px;
    padding-bottom: 13px;
    padding-top: 65px;
}

.panelServices{
    background-color:rgba(241, 241, 241, 0.82);
    margin-left: 32%;
    margin-right: 10%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 35px;
    padding-bottom: 55px;
}
.panelHtbDD{
    background-color: rgba(241, 241, 241, 0.82);
    margin-left: 32%;
    margin-right: 10%;
    margin-top: -20px;
}
.panelHfDD{
    background-color: rgba(241, 241, 241, 0.82);
    margin-left: 32%;
    margin-right: 10%;
    margin-top: -20px;
    margin-bottom: 40px;
}
.backgroundImg{
    background-repeat: no-repeat;
    background-image: url("../img/fondoKeys.png");
    padding-bottom: 0px;
}
li{
    list-style:none;
}
a:link   
{   
 text-decoration:none;   
} 
.colRabbitIcon{
    background-color: #E8E8E8;
}
.divSRb{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.divHtbDD{
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 100px;
}
.divWfDD{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.divWIDD{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.colRegresar{
    width: 11%;
}
.colQueEs{
    width: 20%;
}
.colPorqueUsar{
    width: 22%;
}
.colServicios{
    width: 14%;
}
.colContacto{
    width: 14%;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    border: solid 2px;
    border-color: #1D75B6;
    background-color: transparent;
    color: #1D75B6 !important;
}
a.text-topnavMenuLH:hover  .submenutap,
a.text-topnavMenuLH:hover{
    color: #36aae1 !important;
}

a.text-topnavMenuG:hover{
    color: #36aae1 !important;
}
.limenuactive{
    border: solid 2px;
    border-color: #1D75B6;
    background-color: transparent;
    color: #1D75B6 !important;
    width: 180px;
}
.submenutap{
    color: #1D75B6 !important;
}
.lisubmenutap:hover{
    color: red;
}
.tituloConejoPink{
    visibility: hidden;
    font-family: FjallaOne-Regular;
    color: #DF1A5E;
}  
.envolturaConejoPink:hover .tituloConejoPink {
    visibility: visible;
}

.tituloConejoRed{
    visibility: hidden;
    font-family: FjallaOne-Regular;
    color: #DE0613;
}  
.envolturaConejoRed:hover .tituloConejoRed {
    visibility: visible;
}

.tituloConejoBlue{
    visibility: hidden;
    font-family: FjallaOne-Regular;
    color: #2A4BBA;
}  
.envolturaConejoBlue:hover .tituloConejoBlue {
    visibility: visible;
}

.tituloConejoPurple{
    visibility: hidden;
    font-family: FjallaOne-Regular;
    color: #9C76C7;
}  
.envolturaConejoPurple:hover .tituloConejoPurple {
    visibility: visible;
}

.tituloConejoGreen{
    visibility: hidden;
    font-family: FjallaOne-Regular;
    color: #6b8d17;
}  
.envolturaConejoGreen:hover .tituloConejoGreen {
    visibility: visible;
}

.envolturaConejo{
    width: 50%;   
}
.imgTobeDD{
    display: block;
    margin: 0 auto;
}
.divHF{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
.imgHF{
    display: block;
    margin: 0 auto;
}
.divBannerLeft{
    padding-left: 0px !important;
}
.divBannerRight{
    padding-right: 0px !important;
}
.containerSearch{
    padding-bottom: 20px;
    padding-top: 0px;
}
.colRabbitIconPu{
    width: 20%;
}
.colRabbitIconPi{
    width: 15%;
}
.colRabbitIconRe{
    width: 15%;
}
.colRabbitIconBl{
    width: 15%;
}
.colRabbitIconGR{
    width: 15%;
}
.backgroundLuz{
    background-image: url('../img/fondoResplandor.jpg');
    padding-bottom:0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.backgroundHerramientas{
    background-image: url('../img/fondoHerramientas.png');
    padding-bottom:0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top
}
.backgroundHe{
    background-image: url('../img/fondoHexagonos.png');
    padding-bottom:0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.backgroundFoco{
    background-image: url('../img/hand.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.backgroundMano{
    background-image: url('../img/hand.png');
    padding-bottom:0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.panelHES{
    background-color: #9c76c570;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}
.panelHEN{
    background-color: #de0613cc;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}
/*.panelHLS{
    background-color: #f61a5eb0;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}*/
.panelHLS{
    background-color: #8fbc1f82;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}
.panelHDE{
    background-color: #2a4ba4b3;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}
.panelHHO{
    background-color: #8fbc1f82;
    margin-top: 190px;
    margin-left: 287px;
    margin-right: 160px;
    margin-bottom: 35px;
}
.div-searchServicesParent{
    padding-bottom: 190px;
    padding-top: 42px;
}
.div-searchServicesChild{
    display: block;
    margin: 0 auto;
    width: 270px;
}
.div-searchServices2{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.texts-panels{
    padding-left: 95px;
    padding-top: 40px;
    font-family: "FjallaOne-Regular";
    color: white;
}
.serviceLabel{
    margin: 0px;
    margin-top: 10px;
}
.serviceLabel: hover{
    color: red;
}
.serviceLabel2ES{
    margin: 0px;
    margin-bottom: 10px;
    padding-right: 5px;
    background-color: #9c76c7;
}
.serviceLabel2LS{
    margin: 0px;
    margin-bottom: 10px;
    padding-right: 5px;
    background-color: #f61a5e;
}
.divFiltersES{
    margin: 0px;
    margin-bottom: 10px;
    background-color: #9c76c7;
    margin-top: 30px;
}
.divFiltersLS{
    margin: 0px;
    margin-bottom: 10px;
    background-color: #f61a5e;
    margin-top: 30px;
}
.buttonSearchService{
    background-color: white;
    padding: initial;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: -2px;
}
.labelServiceS{
    font-family: "FjallaOne-Regular";
    font-size: 19px;
    background-color: #9c76c7;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    text-align: left;
    border-radius: initial;
}
.labelServiceBloqued{
    font-family: "FjallaOne-Regular";
    font-size: 19px;
    background-color: #9c76c7;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    text-align: left;
    border-radius: initial;
}
.labelServiceS:hover{
    background-color: #9c76c7bd;
    color: #214158;
}
.labelServiceLS{
    font-family: "FjallaOne-Regular";
    font-size: 19px;
    background-color: #f61a5e;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    text-align: left;
    border-radius: initial;
}
.labelServiceLS:hover{
    color: #214158;
    background-color: #f61a5ea6 !important;
}
.containerHEN,
.containerHDE,
.containerHES,
.containerHLS,
.containerHHO{
    margin-top: -12px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100% ;
    background-position: center;
}
.containerHHO{
    background-image: url('../img/home/backgroundHome.png');
}
.containerHEN{
    background-image: url('../img/entertainment/backgroundConcert.jpg');
}
.containerHDE{
    background-image: url('../img/delivery/backgroundDelivey.png');
}
.containerHES{
    background-image: url('../img/socialevents/backgroundDj.png');
}
.containerHLS{
    background-image: url('../img/livestyle/backgroundYoga.png');
}
.avatarUser{
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    border: 2px solid;
    color: #04456b;
    margin-top: -5px;
}
.containerESImg{
    height: 350px;
    margin-top: 50px;
    background-image: url('../img/socialevents/backgroundDj.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    background-position-y: -180px;
}
.containerLSImg{
    height: 350px;
    margin-top: 50px;
    background-image: url('../img/livestyle/backgroundYoga.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    background-position-y: -70px;
}
.cardContainer{
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.cardSubContainerES{
    background-color: #662480;
    border-radius: 8px;
    color: white;
    height: 100%;
}
.cardSubContainerLS{
    background-color: #f61a5e;
    border-radius: 8px;
    color: white;
    height: 100%;
}
.footerCardES{
    cursor: pointer;
    background-color:#9c76c4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
.footerCardLS{
    cursor: pointer;
    background-color:#b91447;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
.containerServicesContent{
    margin-top: 70px;
    margin-bottom: 50px;
}
.sliderRangeES{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #9c76c7;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
.sliderRangeLS{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #f61a5e;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
.sliderRangeRU{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
.sliderRangeES::-webkit-slider-thumb,
.sliderRangeLS::-webkit-slider-thumb,
.sliderRangeRU::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 18px;
    background: #04456B;
    cursor: pointer;
    border-radius: 5px;
}
.btn-default {
    color: white;
    background-color: transparent;
    border-color: transparent;
}
.small, small {
    color: white;
}
.well-sm {
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.text-info {
    color: white;
}

.titleFilters{
    color: white;
    padding-left:20px;
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: "FjallaOne-Regular";
    font-size: 17px;
}
.contentFiltersSE{
    background-color: white; 
    border-style: solid;
    border-color: #9c76c7;
}
.contentFiltersLS{
    background-color: white; 
    border-style: solid;
    border-color: #f61a5e;
}
.textTitleCard{
    font-family: "Ubuntu-Bold";
    font-size: 19px;
    color: white;
}
.textSubTitleCard{
    font-family: "Ubuntu-Bold";
    font-size: 13px;
    color: white;
}
.textContentCard{
    font-family: "Ubuntu-Regular";
    font-size: 17px;
    color: white;
}
.textDescriptionCard{
    font-family: "Ubuntu-Regular";
    font-size: 13px;
    color: white;
}
.textCostCard{
    font-family: "Ubuntu-Medium";
    font-size: 17px;
    color: white;
}
.buttonContractCardES,
.buttonContractCardES:active{
    font-family: "Ubuntu-Bold";
    font-size: 18px;
    color: white;
    background-color:#9c76c4;
}
.buttonContractCardES:hover,
.buttonContractCardES:focus{
    font-family: "Ubuntu-Bold";
    font-size: 18px;
    color: white;
    background-color:#9c76c480;
}
.buttonContractCardLS,
.buttonContractCardLS:active{
    font-family: "Ubuntu-Bold";
    font-size: 18px;
    color: white;
    background-color:#b91447;
}
.buttonContractCardLS:hover,
.buttonContractCardLS:focus{
    font-family: "Ubuntu-Bold";
    font-size: 18px;
    color: white;
    background-color:#b914478c;
}

.labelFilterOption{
    font-family: "Ubuntu-Regular";
    font-size: 14px;
    color: #04456B;
}
.btnCleanFilters{
    font-family: "FjallaOne-Regular";
    font-size: 12px;
    color: #04456B;
    margin-right: 10px;
}
.titleRange{
    font-family: "FjallaOne-Regular";
    font-size: 17px;
    color: #04456B;   
}
.costRangeText{
    font-family: "FjallaOne-Regular";
    font-size: 11px;
    color: #04456B;      
}
div.contactForm{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 35vh;
}
div.registerForm{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 28%;
}
label.formContact{
    font-family: "Ubuntu-Regular";
    color: #04456b;
}
label.formRegister{
    font-family: "Ubuntu-Regular";
    color: #04456b;
}
input.formContact, 
textarea.formContact{
    font-family: "Ubuntu-Regular";
    background-color: #f1f1f1;  
    color: #1d75b6;
}
input.formRegister, 
textarea.formRegister{
    font-family: "Ubuntu-Regular";
    background-color: #f1f1f1;
    color: #1d75b6;  
}
button.formContact{
    font-family: "Ubuntu-Bold";
    background-color: #26a5dc;
    color: white;
    font-size: 16px;
    width: 130px;
}
button.formRegister{
    font-family: "Ubuntu-Bold";
    background-color: #26a5dc;
    color: white;
    font-size: 16px;
    width: 130px;
}
select.formRegister{
    font-family: "Ubuntu-Regular";
    background-color: #f1f1f1;
    color: #1d75b6;
}

button.formContact:hover,
button.formContact:focus,
button.formContact:active{
    background-color: #26a5dc73;
    color: white;
}
button.formRegister:hover,
button.formRegister:focus,
button.formRegister:active{
    background-color: #26a5dc73;
    color: white;
}
.panelHLSContent,
.panelHESContent,
.panelHENContent,
.panelHDEContent,
.panelHHOContent{
    margin: 0px;
    margin-right: -70px;
}
.ulCenterTopnavUsr{
    margin-left: 60px;
}
.iconSocialChat{
    margin: 40px;
}
/*Form Wizard*/
.stepwizard-step p {
    margin-top: 10px;    
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 11px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 65%;
    height: 1px;
    background-color: white;
    z-order: 0;
    margin-left: 15px;
}
.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  background-color: #1d75b6;
}
.btn-circle.active,
.btn-circle:active{
    background-color: white;
}
.phoneIn1{
    display: inline-block;
    width: 55px;
    padding:5px;
}
.phoneIn2{
    display: inline-block;
    padding-right:7px;
    padding-left: 7px ;
}
.phoneIn2div{
    padding-right:5px;
}
/*END Form Wizard*/
.imgServiceInbox{
    padding: initial;
}
.hrService{
    width: 70%;
    display: inline-block;
    height:10px;
    margin: 0px;
}
.li-menuDDiper{
    padding: initial;
    padding-top: 6px;
    padding-bottom: 6px;
}
.divTerms{
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contencInb2{
    padding: 10px !important;
    height: 100%;
}
.contencInb3{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) and (max-device-width : 767px)  and (orientation: landscape){
    .inboxContent{
        height: 200px;
    }
    .contencInb1{
        height: 50%;
    }
    .divTerms{
        padding: initial!important;
        padding-top: 10px!important;
        padding-bottom: 20px;
    }
    .liMenu{
        text-align: left!important;
    }
    .rabbitsRow{
        margin:  0 auto;
    }
    .div-searchServices2{
        width: 50%
    }
    .hrService{
        width: 100%;
    }
    .ulCenterTopnavUsr{
        margin-left: -18PX;
    }
    .backgroundBar{
        padding-left: 0px;
    }
    
    .colPorqueUsar,
    .colComofunciona,
    .colQueEs,
    .colRegresar,
    .colServicios,
    .colContacto
    {
        width: max-content;
    }

    .textBannerR {
        position: absolute;
        bottom: 35px;
        left: 64px;
        font-size: 18px;
    } 
    .textBannerL {
        position: absolute;
        bottom: 35px;
        right: 80px;
        font-size: 18px;
    }   
    .inputSearch{
        width: 95%;
    }
    .divHeader {
        margin-top: 115px;
    }
    .colRabbitIcon{
        margin-bottom: 15px;
        width: max-content;
    }
    .containerHLS{
        background-position-x: -455px;
    }
    .panelHLS,
    .panelHES,
    .panelHEN,
    .panelHDE {
        margin-top: 200px;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 45px;
    }
    .panelHLSContent,
    .panelHESContent,
    .panelHDEContent,
    .panelHENContent,
    .panelHHOContent{
        margin: initial;
    }
    .containerLSImg{
        background-position-y: 0px;
        margin-top: 130px;
    }
    .div-searchServicesParent{
        padding-bottom: 100px;
    }
    .containerESImg{
        background-position-y: 0px;
        margin-top: 130px;
    }
    .envolturaConejoRed{
        float: none !important;
    }
    .envolturaConejoPink{
        float: none !important;
    }
    .envolturaConejoPurple{
        float: left !important;
    }
    .envolturaConejoBlue{
        float: right !important;
    }
    .containerLogin{
        width: 55vw;
    }
    div.registerForm {
        margin-left: initial;
    }
    .phoneIn2div {
        padding-right: 15px;
    }
    .texts-panels{
        padding: 30px;
    }
    .panelServices{
        margin-left: 5%;
        margin-right: 5%;
        padding: 50px;
    }
    .backgroundHerramientas{
        background-position-y: 66px;
    }
    .backgroundFoco{
        background-position-x: -50px;
    }
    .divImgInbox{
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 500px) /* Mobile */ {
    .containerLogin{
        width: 100vw !important;
    }
    .navbarIndex {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .divTerms{
        padding: initial!important;
        padding-top: 20px !important;
        padding-bottom: 20px;
    }
}
/*Cuando el dispositivo este verticalmente*/
@media all and (orientation: portrait)  {
    .cardDD{
        height: initial !important;
    }
    .btnCS2,
    .btnCS1{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .contencInb1,
    .contencInb2,
    .contencInb3{
        height: 25% !important;
    }
    .btnDivInbox{
        height: 25% !important;
        margin-top: 50px;
    }
    .logoCenterLogin{
        max-width: 105px;
    }
    .rowGreen{
        margin-top: initial !important;
        margin-bottom: initial !important;
    }
    .navbarIndex {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .liMenu{
        text-align: left!important;
    }
    .li-menuDDiper{
        text-align: center;
    }
    .hrService{
        width: 100%;
    }
    .imgServiceInbox{
        padding: 10px;
    }
    .colorBlueTitle{
        font-size: 21px;
        padding: 3px;
    }
    .inboxContent{
        height: 100%;
        padding-top: 50px;
    }
    .divImgInbox{
        padding-right: 30px;
        padding-left: 30px;
    }
    .cardService{
        height: 100%;
    }
    .colImgDDService{
        padding: 10px;
    }
    .cardService{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .divHeader2{
        padding: initial;
    }
    .subtopnavRow{
        padding-left: initial;
    }
    .backgroundHerramientas{
        background-position-y: 100px;
    }
    .backgroundFoco{
        background-position-x:  -180px;
    }
    .iconSocialChat{
        margin: 15px;
    }
    .phoneIn2div{
        padding-right:15px;
    }
    div.registerForm{
        margin-left: initial;
    }
    .containerLogin{
        width: 100vw;
    }
    .iconsDigColors{
        max-width: 60px;
    }
    .envolturaConejoRed,
    .envolturaConejoPink,
    .envolturaConejoPurple,
    .envolturaConejoBlue,
    .envolturaConejoGreen{
        float: none !important;
    }
    .ulCenterTopnavUsr{
        margin-left: -15px;
    }
    .panelHLSContent,
    .panelHESContent,
    .panelHDEContent,
    .panelHENContent,
    .panelHHOContent{
        margin: initial;
    }
    .containerLSImg {
        height: 200px;
        margin-top: 260px;
        background-position-x: -45px;
        background-position-y: 0px;
    }
    .containerESImg {
        height: 200px;
        margin-top: 260px;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    .panelHES,
    .panelHEN,
    .panelHLS,
    .panelHDE,
    .panelHHO{
        margin-top: 275px;
        margin-left: 0px;
        margin-right: 0px;
    }
    div.contactForm {
        width: 300px;
        margin-top: 35px;
        margin-bottom: 50px;
    }
    .containerHLS{
        background-position-x: -603px;
    }
    .div-searchServicesParent {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .texts-panels {
        padding: 30px;
    }
    .panelHLSContent{
        margin: 0px;
    }
    .imgHF{
        width: 90%;
    }
    .imgPeopleServices{
        margin-top: -100px;
    }
    .imgPeopleServices{
        max-width: 285px;
    } 
    .iconsDigColors {
        display: block;
        margin: auto;
    }
    .textBannerR,
    .textBannerL {
        position: absolute;
        bottom: 15px;
        left: 45px;
        font-size: 8px;
    }

    .inputSearch{
        width: 95%;
    }
    .colRabbitIconPu,
    .colRabbitIconRe{
        width: 60% !important;
        padding: 0px;
        padding-left: 10px;
    }
    .colRabbitIconPi,
    .colRabbitIconBl{
        width: 40% !important;
        padding: 0px;
    }
    .colRabbitIconGR{
        width: 100% !important;
    }
    .divHeader{
        margin-top: 205px;
    }
    .backgroundBar{
        padding-left: 0px;
    }
    .panelServices{
        margin-left: 0px;
        margin-right: 0px;
        padding: 30px;
    }
    .divSRb{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        padding-top: 10px;
    }
    .panelHtbDD{
        margin-left: 0px;
        margin-right: 0px;
    }
    .divHtbDD,
    .divWfDD{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .containerServices{
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .panelHfDD{
        margin-left: 0px;
        margin-right: 0px;
    }
    .divWIDD{
        padding-bottom: 20px;
    }
    .colRegresar,
    .colQueEs,
    .colPorqueUsar,
    .colServicios,
    .colContacto,
    .colComofunciona {
        width: 50%;
    }
    .colRabbitIcon{
        margin-bottom: 32px;
    }
    .colFooterBtnLeft,
    .colFooterBtnRight{
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .contencInb1,
    .contencInb2,
    .contencInb3{
        height: 100% !important;
    }
    .contencInb3{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .contencInb2{
        padding-top: 20px !important;
    }
    .btnDivInbox{
        height: 100% !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inboxContent{
        height: 140px;
    }
    .navbarIndex{
        padding-right: 75px;
    }
    .subtopnavRow {
        padding-left: 135px;
    }
    .colRabbitIcon {
        margin-bottom: 15px;
        width: max-content;
    }
    .textBannerR,
    .textBannerL  {
        position: absolute;
        bottom: 21px;
        left: 47px;
        font-size: 13px;
    } 
    .colFooterBtnLeft,
    .colFooterBtnRight{
        padding-right: 10px;
        padding-left: 10px;
    }
    div.registerForm {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 28%;
    }
}

/* iPads (portraid) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    div.registerForm {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 28%;
    } 
    .colRegresar, .colQueEs, .colPorqueUsar, .colServicios, .colContacto, .colComofunciona {
        width: 16%;
    }
}
.closeIcon{
    color: white;
    float: right;
    z-index: 2;
    position: absolute;
    right: 12px;
    top: 18px;
}
.buttonHome{
    position: absolute;
    left: 3vw;
    top: 1.25vh;
    background-color: #2d97c9;
    color: white;
}
.auth0-lock.auth0-lock .auth0-lock-name {
    display: none!important;
}
.ccdesign {
    background-image: url(../img/creditcard2.svg);
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px;
}
.brandCard{
    margin: 0 0 10px;
    float: right;
    font-size: 17px;
    color: white;
    font-family: "Ubuntu-Regular";
}
.numCard{
    font-size: 15px;
    margin-top: 52px;
    color: white!important;
    margin-left: 16px;
    margin: 0 auto;
    padding-left: 52px;
    margin-top: 45px;
    float: left;
    font-family: "Ubuntu-Regular";
}
.dateVenc{
    font-size: 12px;
    color: white!important;
    margin: 0 auto;
    float: right;
    padding-right: 59px;
    margin-top: 4px;
    font-family: "Ubuntu-Regular";
}
.nameCard{
    color: white!important;
    font-size: 10px;
    margin-top: 23px;
    padding-left: 24px;
    float: left;
    font-family: "Ubuntu-Regular";
}
.addCardContract{
    background-color: #26a5dc;
    color: white;
    font-family: "Ubuntu-Bold";
    width: 62%;
    height: 40px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
}