<ul style="padding-left: initial;">
	<li class="col-md-12 col-sm-12 col-xs-3 li-menuDDiper">
		<a class="linkDDProfile" ng-click="selectTabmenu(1)">Pendientes</a>
	</li>
	<li class="col-md-12 col-sm-12 col-xs-3 li-menuDDiper">
		<a class="linkDDProfile" ng-click="selectTabmenu(2)">En proceso</a>
	</li>
	<li class="col-md-12 col-sm-12 col-xs-3 li-menuDDiper">
		<a  class="linkDDProfile" ng-click="selectTabmenu(3)">Finalizados</a>
	</li>
	<li class="col-md-12 col-sm-12 col-xs-3 li-menuDDiper">
		<a class="linkDDProfile" ng-click="selectTabmenu(4)">Cancelados</a>
	</li>
	<li class="col-md-12 col-sm-12 col-xs-3 li-menuDDiper">
		<a class="linkDDProfile" ng-click="selectTabmenu(5)">Pagados</a>
	</li>
</ul>