<div class="modal-header modalHeaderCS" >
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Alerta</span>
        </div>
    </div>
</div>

<div class="modal-body modalBodyCS" style="background-color: white">
    <div class="text-center" style="padding-bottom: 5px;padding-top: 15px">
        <p>
            <span class="text-thanksDigdeepear">{{textAlert}}</span><br>
        </p>
        <img src="img/logoDD.png" style="max-width: 85px">
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.cancel()">Aceptar</button>
    </div>
</div>
