<!-- Form5 Confirmación de pago del contrato del servicio-->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">
                Cambio de contraseña
            </span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS" >
    <div class="row">
        <div class="form-group passworddiv-modal">
            <span class="labelModalPassword">Ingrese Contraseña Actual:</span>
            <input type="password" class="form-control" id="currentPassword" ng-model="profileUserPassword.currencyPassword" placeholder="*****">
            <span class="formInvalidText" ng-if="currencyPasswordFailed" style="color: black">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="form-group passworddiv-modal">
            <spam class="labelModalPassword">Ingrese Contraseña Nueva:</spam>
            <input type="password" class="form-control" id="newPassword" ng-model="profileUserPassword.newPassword" placeholder="*****">
            <span class="formInvalidText" ng-if="newPasswordFailed" style="color: black">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="form-group passworddiv-modal">
            <spam class="labelModalPassword">Ingrese Nuevamente la Contraseña:</spam>
            <input type="password" class="form-control" id="confirmPassword" ng-model="confirmpassword" placeholder="*****">
            <span class="formInvalidText" ng-if="confirmPasswordFailed" style="color: black">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="form-group passworddiv-modal text-right">
            <button class="btn btnModalOk" type="button" ng-click="$ctrl.saveChange()">Enviar</button>
        </div>
    </div>
</div>