<!-- Form1 Información del servicio a contratar-->
<div ng-include="'app/templates/modals/infoModalService.html'" ng-if="tabMenuCurrency === 'infoService'"></div>
<!---->

<!-- Form2 Selección de la fecha en que quiere iniciar el servicio-->
<div ng-include="'app/templates/modals/dateInitService.html'" ng-if="tabMenuCurrency === 'dateInit'"></div>
<!---->

<!-- Form3 Selección de la fecha en que quiere finalizar el servicio-->
<div ng-include="'app/templates/modals/dateFinalService.html'" ng-if="tabMenuCurrency === 'dateFinal'"></div>
<!---->

<!-- Form4 Selección de los horarios de inicio y fin del servicio-->
<div ng-include="'app/templates/modals/hoursSelect.html'" ng-if="tabMenuCurrency === 'hourSelect'"></div>
<!---->

<!-- Form5 Desglose y Confirmación del servicio a contratar -->
<div ng-include="'app/templates/modals/confirmContract.html'" ng-if="tabMenuCurrency === 'confirmContract'"></div>
<!---->

<!-- Form6 seleccionar forma de pago para el servicio a contratar -->
<div ng-include="'app/templates/modals/selectPaymentType.html'" ng-if="tabMenuCurrency === 'paymentType'"></div>
<!---->

<!-- Form7 llenar el formulario para obtener los datos donde se efectuara el servicio a contratar -->
<div ng-include="'app/templates/modals/deliveryData.html'" ng-if="tabMenuCurrency === 'deliveryData'"></div>
<!---->

<!-- Form8 Mensaje de contratación finalizada correctamente -->
<div ng-include="'app/templates/modals/successContractService.html'" ng-if="tabMenuCurrency === 'successContract'"></div>
<!---->

<!-- Form9 Mensaje de agradecimiento por parte de digdeep -->
<div ng-include="'app/templates/modals/thanksContractService.html'" ng-if="tabMenuCurrency === 'thanksDigdeepear'"></div>
<!---->

<!-- Form10 Llenar formulario para pagar con tarjeta de credito -->
<!--<div ng-include="'app/templates/modals/paymentVisa.html'" ng-if="tabMenuCurrency === 'formVisa' && paymentType==='cardcredit'"></div>-->
<!---->

<!-- Form11 Mensaje de confrimación de pago con tarjeta visa (pago con tarjeta de credito/debito) -->
<div ng-include="'app/templates/modals/confirmPaymentVisa.html'" ng-if="tabMenuCurrency === 'confirmPaymentCard'"></div>

<!-- -->
<div ng-include="'app/templates/modals/selectPlaceService.html'" ng-if="tabMenuCurrency === 'selectPlaceService'"></div>