<!-- Form1 Información del servicio -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Datos de entrega del servicio</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <div class="text-left" style="color:white">
        <p>
            <span class="text1ModalInfo">Recibe: </span>
            <span class="text2ModalInfo">{{dataDelivery.name}}</span>
        </p>
        <p>
            <span class="text1ModalInfo">E-mail: </span>
            <span class="text2ModalInfo">{{dataDelivery.email}}</span>
        </p>
        <p>
            <span class="text1ModalInfo">Teléfono: </span>
            <span class="text2ModalInfo">{{dataDelivery.phone}}</span>
        </p>
        <p>
            <span class="text1ModalInfo">Dirección: </span>
            <span class="text2ModalInfo">{{dataDelivery.address}}</span>
        </p>
    </div>
    <div ng-if="showMap === true">
        <div class="mapCanvas">
            <div class="centerMarker"></div>
            <ui-gmap-google-map center='deliveryMap.center' zoom='deliveryMap.zoom' options="deliveryMap.options">
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 5px">
        <button class="btn btnModalOk" ng-click="$ctrl.cancel()">Cerrar</button>
    </div>
</div>