<!-- Form1 Información del servicio -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Detalles de la Fecha</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <h4 style="color: white;text-align: center;font-size: 15px">{{order.dataService.title | uppercase}}</h4>
    <div style="padding:10px">
        <div ng-if="showMap === true">
            <div class="mapCanvas">
                <div class="centerMarker"></div>
                <ui-gmap-google-map center='deliveryMap.center' zoom='deliveryMap.zoom' options="deliveryMap.options">
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="text-center" style="color:white">
        <p>
            <span class="titleModalInfo" style="font-size: 14px">Inicia {{dateFormatedInit | date:'dd-MM-yyyy'}} a las {{order.dataService.hourInit | date: 'HH:MM'}} hrs.</span>
        </p>
        <p>
            <span class="titleModalInfo" style="font-size: 14px">Termina {{dateFormatedFinish | date:'dd-MM-yyyy'}} a las {{order.dataService.hourFinish | date: 'HH:MM'}} hrs.</span>
        </p>
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.cancel()">Cerrar</button>
    </div>
</div>