<!-- Form1 Información del servicio -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Detalles de la Fecha</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <h4 style="color: white;text-align: center;font-size: 15px">{{eventOut.title | uppercase}}</h4>
    
    <div class="text-center" style="color:white">
         <p>
            <span class="titleModalInfo" style="font-size: 14px">{{eventOut.date | date:'dd-MM-yyyy'}}</span>
        </p>
        <div class="text-center">
            <p>
                <span class="titleModalInfo" style="font-size: 14px">Inicia a las {{eventOut.hourInit | date:'HH:MM'}} hrs.</span>
            </p>
            <p>
                <span class="titleModalInfo" style="font-size: 14px">Termina a las {{eventOut.hourFinal | date:'HH:MM'}} hrs.</span>
            </p>
        </div>
        
    </div>
    <div class="row text-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btnModalOk" ng-click="$ctrl.cancel()" style="width: 100%">Cerrar</button>    
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btnModalOk" ng-click="$ctrl.delete()" style="width: 100%">Borrar</button>    
        </div>
        
    </div>
</div>