<!-- Form1 Información del servicio -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Detalles del Digdeeper</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <div style="padding:10px">
        <img class="img-responsive imgCardDigdeeper" src="{{digdeeper.urlImg}}">
    </div>
    <div class="text-center" style="color:white">
        <p>
            <span class="titleModalInfo">{{digdeeper.fullname}}</span>
        </p>
        <p>
            <span class="text2ModalInfo">{{digdeeper.state}}</span>
        </p>
        <p>
            <span class="text2ModalInfo">{{digdeeper.specialty}}</span>
        </p>
        <p>
            <span class="text1ModalInfo">Descripción de la empresa</span>
        </p>
        <p>
            <span class="text2ModalInfo">{{digdeeper.descriptionCompany}}</span>
        </p>
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.cancel()">Cerrar</button>
    </div>
</div>