<!-- Form10 Datos de tarjeta de credito (pago con tarjeta de credito)-->
<div class="modal-header modalHeaderCS">
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Editar Servicio</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="labelSendS" style="color: white">Titulo de servicio</label><br>
            <input type="text" class="form-control inputSendS" ng-model="newService.title" placeholder="Banquetes para boda">
            <span class="formInvalidText" ng-if="titleServiceFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label class="labelSendS" style="color: white">Imagen para tu servicio</label><br>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top: 10px">
            <img src="{{pictureCurrent}}" class="img-responsive" style="margin: 0 auto;border-radius: 5px;border: solid 2px;border-color: white;">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <form ng-model="myDropzone" style="background-color: white !important;margin-top: initial!important" class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone-config="dropzoneConfig" dropzone="dropzone" event-handlers="{'error':dzError }" role="form">
                <div class="fallback">
                    <input name="source_file[]" type="file" multiple />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label class="labelSendS" style="color: white">Categoría</label><br>
            <select class="form-control inputSendS" ng-model="newService.category" ng-change="$ctrl.chooseCategory()">
                <option value="" disabled>- Categoría -</option>
                <option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.title}}</option>
            </select>
            <span class="formInvalidText" ng-if="categoryFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label class="labelSendS" style="color: white">Subcategoría</label><br>
            <select class="form-control inputSendS" ng-model="newService.subcategory">
                <option value="" selected disabled>- Subcategoria -</option>
                <option ng-repeat="subcat in subCategories" value="{{subcat._id}}">{{subcat.title}}</option>    
            </select>
            <span class="formInvalidText" ng-if="subCategoryFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div ng-if="typePrice === 1 || typePrice === 2">
                <label class="labelSendS" style="color: white">Precio a domicilio</label><br>
                <input type="number" class="form-control inputSendS" placeholder="$" ng-model="newService.price_athome">
                <span class="formInvalidText" ng-if="costathomeFailed">
                    <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
                </span>
            </div>
            <div ng-if="typePrice === 1 || typePrice === 3">
                <label class="labelSendS" style="color: white">Precio en establecimiento</label><br>
                <input type="number" class="form-control inputSendS" placeholder="$" ng-model="newService.price_presencial">
                <span class="formInvalidText" ng-if="costpresencialFailed">
                    <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
                </span>
            </div>
        </div>
    </div>

    <label class="labelSendS" style="color: white">Descripción</label>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <textarea class="form-control inputSendS" placeholder="Mi servicio"style="resize: none;height: 120px" ng-model="newService.description"></textarea>
            <span class="formInvalidText" ng-if="descriptionFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
    </div>
    <!--label class="labelSendS" style="color: white">Filtros de busqueda para tu servicio</label-->
    <!--div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">

            <div class="row" style="padding:10px">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.decorations">Decoraciones
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.fashion">Moda
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.cocktails">Cocteles
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.nutrition">Nutrición
                        </li>
                    </ul>       
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.concerts">Conciertos
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.parties">Fiestas
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.culture">Cultura
                        </li>
                        <li class="labelFilterOption" style="color: white">
                            <input type="checkbox" class="checkServiceEdit" ng-model="filters.food">Comida
                        </li>
                    </ul>       
                </div>
            </div>
            <span class="formInvalidText">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Nota: Estos filtros son importantes para que tus clientes, te encuentren fácilmente.
            </span>
        </div>
    </div-->
    <div class="row text-center" style="margin-top: 20px">
        <button class="btn btnModalOk" ng-click="$ctrl.updateService()">Aceptar</button>
    </div>
</div>