<!-- Form12 Formulario para solicitar una factura del servicio contratado (tarjeta de credito/debito)-->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Facturación</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS">
    <div class="divFormDeliveryData">
        <span class="labelFormDeliveryData">Nombre</span>
        <input type="text" class="form-control inputFormDeliveryData" placeholder="Cosme Fulanito Perengano" ng-model="billing.fullname">
        <span class="formInvalidText" ng-if="billingNameFailed">
            <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Es necesario completar este campo
        </span>
    </div>
    <div class="divFormDeliveryData">
        <span class="labelFormDeliveryData">E-mail</span>
        <input type="email" class="form-control inputFormDeliveryData" placeholder="fulanito@gmail.com" ng-model="billing.email" required>
        <span class="formInvalidText" ng-if="billingEmailFailed">
            <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Es necesario completar este campo
        </span>
    </div>
    <div class="divFormDeliveryData">
        <span  class="labelFormDeliveryData">R.F.C.</span>
        <input type="text" class="form-control inputFormDeliveryData" placeholder="PASFJA9856321" ng-model="billing.rfc">
        <span class="formInvalidText" ng-if="billingRfcFailed">
            <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Es necesario completar este campo
        </span>
    </div>
    <div class="divFormDeliveryData">
        <span  class="labelFormDeliveryData">Teléfono</span>
        <input type="tel" class="form-control inputFormDeliveryData" placeholder="+52 (222) 705 8335" ng-model="billing.phone">
        <span class="formInvalidText" ng-if="billingPhoneFailed">
            <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Es necesario completar este campo
        </span>
    </div>
    <div class="divFormDeliveryData" style="padding-bottom: 15px">
        <span  class="labelFormDeliveryData">C.P.</span>
        <input type="number" class="form-control inputFormDeliveryData" placeholder="8335" ng-model="billing.cp">
        <span class="formInvalidText" ng-if="billingCPFailed">
            <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>Es necesario completar este campo
        </span>
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.putBilling(billing)">Enviar Información</button>
    </div>
</div>