<!-- Form5 Confirmación de pago del contrato del servicio-->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">
                Cambio de contraseña
            </span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS" >
    <div class="row">
        <div class="form-group passworddiv-modal">
            <span class="labelModalPassword">Correo con el que se registro:</span>
            <input type="email" class="form-control" ng-model="emailUser" placeholder="fulanito@gmail.com">
        </div>
        <div class="form-group passworddiv-modal text-right">
            <button class="btn btnModalOk" type="button" ng-click="$ctrl.verifyEmail()">Enviar</button>
        </div>
    </div>
</div>