<!-- Form1 Información del servicio -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Info de servicio</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <div style="padding:10px">
        <img class="img-responsive imgCardservice" src="{{service.pictures[0]}}">
    </div>
    <div class="text-center" style="color:white;overflow: auto;height: 125px">
        <p>
            <span class="titleModalInfo">{{service.title}}</span><br>
            <span class="text1ModalInfo">Descripción</span><br>
            <span class="text2ModalInfo">{{service.description}}</span><br>
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 colFooterBtnLeft text-center">
            <button class="btn btn-block btnCSLeft" ng-click="$ctrl.nextForm()">CONTRATAR</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 colFooterBtnRight text-center">
            <div class="btnCSRigth" ng-if="typePrice === 1" style="font-size: 12px;padding-bottom: 1px;padding-top: 1px;">
                <i class="fa fa-home" style="color: white;font-size: 12px"></i>{{service.price_athome | currency}}<br>
                <i class="fa fa-location-arrow" style="color: white;font-size: 12px"></i>{{service.price_presencial | currency}}
            </div>
            <div class="btnCSRigth" ng-if="typePrice === 2">
                <i class="fa fa-home" style="color: white;font-size: 14px"></i> {{service.price_athome | currency}}
            </div>
            <div class="btnCSRigth" ng-if="typePrice === 3">
                <i class="fa fa-location-arrow" style="color: white;font-size: 14px"></i> {{service.price_presencial | currency}}
            </div>
        </div>
    </div>
</div>