<!-- Form9  Mensaje de agradecimiento por parte de digdeep -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS"></span>
        </div>
    </div>
</div>
<div class="modal-body modalBodyCS" style="background-color: white">
    <div class="text-center" style="padding-bottom: 5px;padding-top: 15px">
        <p>
            <span class="text-thanksDigdeepear">¡Espere un momento porfavor!</span><br>
            <span class="text-thanksDigdeepear">Subiendo su nuevo servicio</span>
        </p>
        <img src="img/logoDD.png" style="max-width: 85px">
        <img src="img/loadingmin.gif" class="img-responsive" style="width: 15%;margin: 0 auto;margin-top: 15px">
    </div>
</div>