<!-- Form10 Datos de tarjeta de credito (pago con tarjeta de credito)-->
<div class="modal-header modalHeaderCS">
    <div class="row" >
        <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <span class="titleHeaderModalCS" style="color: #1d75b6">Visa</span>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 text-center">
            <span class="titleHeaderModalCS">Am.Express</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS">
    <div>
        <div class="divFormDeliveryData">
            <span  class="labelFormDeliveryData">Número de tarjeta</span>
            <input type="number" class="form-control inputFormDeliveryData" ng-model="card.num" placeholder="1234578954326572">
            <span class="formInvalidText" ng-if="numCardFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="divFormDeliveryData">
            <span  class="labelFormDeliveryData">Fecha de vencimiento</span>
            <input type="number" class="form-control inputFormDeliveryData" style="width: 70px;display: inline-block" placeholder="06" ng-model="card.dateVen1">
            <input type="number" class="form-control inputFormDeliveryData" style="width: 70px;display: inline-block" placeholder="20" ng-model="card.dateVen2">
            <span class="formInvalidText" ng-if="dateVenFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar ni uno de estos dos campos en blanco.
            </span>
        </div>
        <div class="divFormDeliveryData">
            <span  class="labelFormDeliveryData">Codigo de seguridad</span>
            <input type="number" class="form-control inputFormDeliveryData" style="width: 70px" placeholder="335" ng-model="card.cod">
            <span class="formInvalidText" ng-if="codCardFailed">
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
            </span>
        </div>
        <div class="row text-center">
            <button class="btn btnModalOk" ng-click="$ctrl.putCard(card)">Aceptar</button>
        </div>
    </div>
</div>