<!-- Form10 Datos de tarjeta de credito (pago con tarjeta de credito)-->
<div class="modal-header modalHeaderCS">
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">PAGO</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS">
    <div class="divFormDeliveryData">
        <span class="labelFormDeliveryData">Total: {{order.dataService.cost | currency}}</span>
    </div>
    
    <div ng-show="formularioPago == 1">
        <div style="text-align: right;padding: 10px" ng-show="formularioPago == 1">
            <a class="btn btn-default" ng-click="$ctrl.showFormNewCard()" style="background-color: white">
                <i class="fa fa-plus" aria-hidden="true" style="color: #04456b"></i> <i class="fa fa-credit-card-alt" aria-hidden="true" style="color: #04456b"></i>
            </a>
        </div>
        <div class="datos-tarjeta" >
            <div class="divFormDeliveryData">
                <span class="labelFormDeliveryData">Selecciona tu metodo de pago</span>
            </div>
            <div class="divFormDeliveryData" ng-repeat="m in methodsPay">
                <input type="radio" class="inputFormDeliveryData" name="metodosPago" ng-model="metodoPago" ng-value="m.id" ng-click="$ctrl.selectMethodPay(m)"> 
                    <i style="color: white;" class="fa fa-credit-card"></i> 
                    <span class="labelFormDeliveryData">**** **** **** {{m.last4}} {{m.brand}}</span>
                </>      
            </div>
            <div class="divFormDeliveryData">
                <input type="radio" name="metodosPago" ng-model="metodoPago" class="inputFormDeliveryData" ng-click="$ctrl.selectMethodPay('spei')"> 
                    <i class="fa fa-money" aria-hidden="true" style="color: white"></i> <span class="labelFormDeliveryData">SPEI</span>
                </>      
            </div>
        </div>
        <!-- Nueva Tarjeta -->
        <div class="ccdesign" ng-show="methodPayDefault != undefined && methodPayDefault != 'spei'">
            <p class="brandCard">
                {{methodPayDefault.brand}}
            </p>
            <p class="numCard">
                **** **** **** {{methodPayDefault.last4}}
            </p>
            <p class="dateVenc">
                {{methodPayDefault.exp_month}} / {{methodPayDefault.exp_year}}
            </p>
            <p class="nameCard">
                {{methodPayDefault.name}}
            </p>
        </div>
        <!--div class="datos-tarjeta card_credit" ng-show="methodPayDefault != undefined && methodPayDefault != 'spei'">
            <p>Metodo de pago: Tarjeta</p>
            <p>
                Nombre: {{methodPayDefault.name}}
            </p>
            <p>
                Tipo de tarjeta: {{methodPayDefault.brand}}
            </p>
            <p>
                Número de tarjeta: **** **** **** {{methodPayDefault.last4}}
            </p>
            <p>
                Fecha de vencimiento: {{methodPayDefault.exp_month}} / {{methodPayDefault.exp_year}}
            </p>
        </div-->
        <div class="row text-center">
            <button class="btn btnModalOk" style="font-size: 15px" ng-click="$ctrl.realizarPagoTarjetaExistente(methodPayDefault.id)" ng-show="methodPayDefault != undefined && methodPayDefault != 'spei'">
                Pagar
            </button>
        </div>
        
        <div class="row text-center">
            <button class="btn btnModalOk" style="font-size: 15px" ng-click="$ctrl.createOrdenToSpei()" ng-show="methodPayDefault == 'spei'">
                Generar orden de prepago SPEI
            </button>
        </div>
    </div>

    <!-- Si el usuario no tiene ni un metodo de pago guardado-->
    <div ng-show="formularioPago == 2">
        <div style="text-align: left;padding: 10px" ng-show="methodPayDefault == 'add_card'">
            <a class="btn btn-default" ng-click="$ctrl.showFormSelectMethodPay()" style="background-color: white">
                <i class="fa fa-chevron-left" aria-hidden="true" style="color: #04456b"></i>
            </a>
        </div>
        <div ng-if="!methodsPay">
            <div class="divFormDeliveryData">
                <span class="labelFormDeliveryData">Selecciona tu metodo de pago</span>
            </div>
            <div class="divFormDeliveryData">
                <input type="radio" name="metodosPago"  class="inputFormDeliveryData" ng-click="$ctrl.selectMethodPay('spei')"> 
                    <i class="fa fa-money" aria-hidden="true" style="color: white"></i> <span class="labelFormDeliveryData">SPEI</span>
                </>      
            </div>
            <div class="divFormDeliveryData">
                <input type="radio" name="metodosPago"  class="inputFormDeliveryData" ng-click="$ctrl.selectMethodPay('cardnew')"> 
                    <i class="fa fa-credit-card" aria-hidden="true" style="color: white"></i> <span class="labelFormDeliveryData">Tarjeta credito/debito</span>
                </>
            </div>
        </div>
        <div class="datos-tarjeta" ng-show="methodPayDefault == 'cardnew' || methodPayDefault == 'add_card'">
            <div class="divFormDeliveryData">
                <span class="labelFormDeliveryData">Titular de la tarjeta</span>
                <input type="text" class="form-control inputFormDeliveryData" ng-model="card.name" placeholder="Ej. Luis Pérez">        
            </div>
            <div class="divFormDeliveryData">
                <span  class="labelFormDeliveryData">Número de tarjeta</span>
                <input type="text" class="form-control inputFormDeliveryData" ng-model="card.number" placeholder="1234578954326572" maxlength="18">        
            </div>
            <div class="divFormDeliveryData">
                <span  class="labelFormDeliveryData">Fecha de vencimiento</span>
                <input type="text" class="form-control inputFormDeliveryData" style="width: 70px;display: inline-block" placeholder="06" ng-model="card.exp_month" maxlength="2">
                <input type="text" class="form-control inputFormDeliveryData" style="width: 70px;display: inline-block" placeholder="2018" ng-model="card.exp_year" maxlength="4">        
            </div>
            <div class="divFormDeliveryData">
                <span  class="labelFormDeliveryData">Código de seguridad</span>
                <input type="text" class="form-control inputFormDeliveryData" style="width: 70px" placeholder="335" ng-model="card.cvc" maxlength="4">        
            </div>
            <div class="alert alert-danger" ng-if="errorMessage" style="font-size: 13px;">
                Por favor verifique los siguientes valores: <br>     
                <i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i> {{errorMessage}}        
            </div>
        </div>
        
        <!--div class="row text-center">
            <button class="btn btnModalOk" ng-click="$ctrl.putCard(card)">Pagar</button>
        </div-->

        <div class="row text-center">
            <button class="btn btnModalOk" style="font-size: 15px" ng-click="$ctrl.createOrdenToSpei()" ng-show="methodPayDefault == 'spei'">
                Generar orden de prepago SPEI
            </button>
        </div>
        <div class="row text-center">
            <button class="btn btnModalOk" style="font-size: 15px" ng-click="$ctrl.agregarTarjetaNueva()" ng-show="methodPayDefault == 'add_card'">
                Agregar Tarjeta
            </button>
        </div>
        <div class="row text-center">
            <button class="btn btnModalOk" style="font-size: 15px" ng-click="$ctrl.realizarPagoTarjeta(card)" ng-show="methodPayDefault == 'cardnew'">
                Pagar
            </button>
        </div>
    </div>
    
</div>