<!-- Form6 Indicar forma de pago-->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Indica tu forma de pago</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS">
    <div class="divIndicatorPay">
        <input type="radio" name="typePay" ng-click="$ctrl.selectPaymentType('carddebit')"> <span>Debito</span><br><br>
        <input type="radio" name="typePay" ng-click="$ctrl.selectPaymentType('cardcredit')"> <span>Crédito</span><br><br><br><br>
        <input type="radio" name="typePay" ng-click="$ctrl.selectPaymentType('oxxo')"> <span>Oxxo</span>
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.nextForm()">Siguiente</button>
    </div>
</div>