<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS">Lugar del servicio</span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>

<div class="modal-body modalBodyCS" >
    <div class="text-left" style="color: white">
        <div ng-if="athome === true && presencial === true" style="padding: 10px">
            <span class="labelSelectsHours">Selecciona donde será tu servicio:</span><br><br>
            <input type="radio" name="radio" value="athome" ng-click="selectPlaceService('athome')"> A domicilio<br>
            <input type="radio" name="radio" value="athome" ng-click="selectPlaceService('presencial')"> En el establecimiento del proveedor
        </div>
        <div ng-if="athome === true && presencial === false" class="text-center" style="padding: 10px">
            <span class="labelSelectsHours">Tu servicio será a domicilio</span><br><br>
            <i class="fa fa-2x fa-home" style="color: white"></i>
        </div >
        <div  ng-if="presencial === true && athome === false" class="text-center" style="padding: 10px">
           <span class="labelSelectsHours">Tu servicio será en el establecimiento del proveedor</span><br>
        </div>
        
        <div ng-if="showAddressDD === true" class="text-center" style="padding: 10px">
            <span class="labelSelectsHours">Dirección del proveedor:</span><br>
            <i class="fa fa-2x fa-location-arrow" style="color: white"></i>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.address !== '' &&  addressDataDD.address !== null && addressDataDD.address !== undefined ">
                {{addressDataDD.address}}
            </span>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.numberHouse !== '' &&  addressDataDD.numberHouse !== null && addressDataDD.numberHouse !== undefined ">
                , # {{addressDataDD.numberHouse}}
            </span>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.colony !== '' &&  addressDataDD.colony !== null && addressDataDD.colony !== undefined ">
                , {{addressDataDD.colony}}
            </span>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.postalCode !== '' &&  addressDataDD.postalCode !== null && addressDataDD.postalCode !== undefined ">
                , CP. {{addressDataDD.postalCode}}
            </span>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.city !== '' &&  addressDataDD.city !== null && addressDataDD.city !== undefined ">
                , {{addressDataDD.city}}
            </span>
            <span class="textContentProfile" style="color: white" ng-if="addressDataDD.state !== '' &&  addressDataDD.state !== null && addressDataDD.state !== undefined ">
                , {{addressDataDD.state}}
            </span>
        </div>
        <div class="text-center" style="padding-top: 10px" ng-if="errAlert === true" style="color: white">
            *{{alertError}}
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btnModalOk" ng-click="$ctrl.nextForm()">
            Continuar
        </button>
    </div>
</div>