<!-- Form9  Mensaje de agradecimiento por parte de digdeep -->
<div class="modal-header modalHeaderCS" >
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="titleHeaderModalCS"></span>
        </div>
        <i class="fa fa-times fa-1x closeIcon" style="color: white" aria-hidden="true" ng-click="$ctrl.cancel()"></i>
    </div>
</div>
<div class="modal-body modalBodyCS" style="background-color: white">
    <div class="text-center" style="padding-bottom: 50px;padding-top: 15px;margin-bottom: 10px;">
        <p>
            <span class="text-thanksDigdeepear">¡Gracias por digdeepear!</span><br>
        </p>
        <img src="img/logoDD.png" style="max-width: 125px">
    </div>
</div>