<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[0]}}"></button>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[1]}}"></button>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[2]}}"></button>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[3]}}"></button>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[4]}}"></button>
        </div> 
        <div class="stepwizard-step">
            <button type="button" class="btn btn-circle btnBarRegisterUsr {{classProgreesRU[5]}}"></button>
        </div> 
    </div>
</div>
