<div ng-include="'app/templates/topnav.html'"></div>
<header class="divHeader2">
	<a ui-sref="home">
		<img src="img/logoBarDD.png" class="logoBar" style="float: left;">	
	</a>
	<!-- Titulo solo activo cuando es especificamente usuario: 'DIGDEEPER'-->
	<span class="colorBlueTitle" style="float: right;" ng-if="typeUser === 'digdeeper'">CALENDARIO</span>
</header>

<div class="container containerDDMenu" ng-init="initDataProfileUser()">
	<div class="row">
		<div class="col-md-1 col-md-offset-2 col-sm-1 col-xs-12 text-right" ng-include="'app/templates/menuDigdeeperProfile.html'" >
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			
	            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar1">
	       		</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'"></div>