<header class="text-center" style="margin-top: 0px;background-color: #E8E8E8;padding: 10px">
	<span class="colorBlueTitle">VERIFICACIÓN DE CUENTA</span>
</header>

<div class="container-fluid">
	<div class="row text-center divTerms">
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
		<div class="col-md-8 col-sm-60 col-xs-12">
			<div class="staticP">
				<img src="img/logoDD.png" style="width: 15%;margin-bottom: 20px;">
				<p style="padding: 20px;color: green">
					Tu cuenta ha sido verificada correctamente
				</p>
				<p style="padding: 20px;text-align : center;">
					<a class="btn buttonHome" ui-sref="home" style="margin: 0 auto">
						Home
					</a>
				</p>
			</div>
		</div>
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
	</div>
</div>