<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>

<header class="text-right divHeader"><span class="colorBlueTitle">Contacto</span></header>
<div class="container-fluid">
	<div class="contactForm">
	<form>
		<label class="formContact">Nombre</label>
		<div class="row">
			<div class="col-md-6 col-ms-6 col-xs-12">
				<input type="text" class="form-control formContact" placeholder="Nombre" ng-model="contact.name" >
				<span class="formInvalidText" ng-if="nameFailed">
					<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
				</span>
			</div>
			<div class="col-md-6 col-ms-6 col-xs-12">
				<input type="text" class="form-control formContact" placeholder="Apellido" ng-model="contact.lastname">
				<span class="formInvalidText" ng-if="lastnameFailed">
					<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
				</span>
			</div>
		</div>
		<label class="formContact">Email</label>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="email" class="form-control formContact" placeholder="Email" ng-model="contact.email" required>
				<span class="formInvalidText" ng-if="emailFailed">
					<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
				</span>
			</div>
		</div>
		<label class="formContact">Teléfono celular</label>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="tel" class="form-control formContact" placeholder="Número" style="display: inline-block" ng-model="contact.phone">
				<span class="formInvalidText" ng-if="phoneFailed">
					<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
				</span>
			</div>
		</div>
		<label class="formContact formContact">Mensaje</label>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<textarea ng-model="contact.message" placeholder="Escribe tu mensaje" class="formContact messageContact"></textarea>
				<span class="formInvalidText" ng-if="messageFailed">
					<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
				</span>
			</div>
		</div>
		<div class="row text-right" style="padding-right: 14px;padding-top: 10px;">
			<button class="btn formContact" ng-click="sendMessage()">Enviar</button>
		</div>
	</form>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'"></div>