<div ng-include="'app/templates/topnav.html'"></div>

<header class="divHeader2">
	<a ui-sref="home">
		<img src="img/logoBarDD.png" class="logoBar" style="float: left;">	
	</a>
	<!-- Titulo solo activo cuando es especificamente usuario: 'DIGDEEPER'-->
	<span class="colorBlueTitle" style="float: right;" ng-if="typeUser === 'digdeeper'">PERFIL DE DIGDEEPER</span>
	<!-- Titulo solo activo cuando especificamente el usuario cuenta con los dos roles permitidos: 'DIGDEEPER' y 'USER'-->
	<span class="colorBlueTitle" style="float: right;" ng-if="typeUser === 'bothTypesUser'">PERFIL DE USUARIO / DIGDEEPER</span>
</header>

<div class="container containerDDMenu" ng-init="initDataProfileUser()">
	<div class="row">
		<div class="col-md-1 col-md-offset-2 col-sm-1 col-xs-12 text-right" ng-include="'app/templates/menuDigdeeperProfile.html'" >
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<label class="labelProfile">Nombre</label><br>
					<!--span class="textContentProfile">{{digdeeperProfile.fullname}}</span-->
					<input type="text" class="form-control inputProfile" placeholder="Fulanito Perez" ng-model="digdeeperProfile.fullname">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-6">
					<label class="labelProfile">Dirección</label><br>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.address !== '' &&  digdeeperProfileTemp.address !== null && digdeeperProfileTemp.address !== undefined ">
						{{digdeeperProfileTemp.address}}
					</span>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.numberHouse !== '' &&  digdeeperProfileTemp.numberHouse !== null && digdeeperProfileTemp.numberHouse !== undefined ">
						, # {{digdeeperProfileTemp.numberHouse}}
					</span>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.colony !== '' &&  digdeeperProfileTemp.colony !== null && digdeeperProfileTemp.colony !== undefined ">
						, {{digdeeperProfileTemp.colony}}
					</span>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.postalCode !== '' &&  digdeeperProfileTemp.postalCode !== null && digdeeperProfileTemp.postalCode !== undefined ">
						, CP. {{digdeeperProfileTemp.postalCode}}
					</span>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.city !== '' &&  digdeeperProfileTemp.city !== null && digdeeperProfileTemp.city !== undefined ">
						, {{digdeeperProfileTemp.city}}
					</span>
					<span class="textContentProfile" ng-if="digdeeperProfileTemp.state !== '' &&  digdeeperProfileTemp.state !== null && digdeeperProfileTemp.state !== undefined ">
						, {{digdeeperProfileTemp.state}}
					</span>
				</div>
			</div>

			<label class="labelProfile">Foto</label>
			<div class="row">
				<form action="v1/digdeepersImg/" enctype="multipart/form-data" method="post">
					<div class="col-md-2 col-sm-2 col-xs-3">
						<img class="img-responsive imgProfile" src='{{digdeeperProfile.urlImg}}'>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-9" style="padding-top: 20px;padding-bottom: 20px ">
						<div class="botonInputFileModificado" style="width: 130px">
							<input type="file" class="inputImagenOculto" id="archivo_oculto1" name="file-to-upload" filereaddigdeeper="file"/>
							<input type="text" name="idUserProfile" value="{{user._id}}" hidden="true">
							<div class="boton" style="width: 130px">Cambiar imagen</div>    
						</div>
						<div ng-if="file" style="display: inline-block">Nombre de archivo: {{file.name}}</div>
						<input type="submit" class="btn btnEditProfile" value="Actualizar" ng-if="file">     
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="labelProfile">Email</label><br>
					<input type="email" class="form-control inputProfile" placeholder="cosmefulanito82@gmail.com" ng-model="digdeeperProfile.email" disabled="true">
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="labelProfile"></label><br>
					<!--button class="btn btnEditProfile" ng-click="openChangePasswordModal(user._id)" style="margin-top: 4px">Cambiar contraseña</button-->
					<button class="btn btnEditProfile" ng-click="changePasswordAuth0(user.email)" style="margin-top: 4px">Cambiar contraseña</button>

				</div>
			</div>

			<label class="labelProfile">Teléfono celular</label>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<input type="tel" class="form-control inputProfile" placeholder="2227838329" ng-model="digdeeperProfile.phone">
				</div>
			</div>

			<label class="labelProfile">Ubicación</label>
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-7">
					<input class="form-control inputProfile" type="text" placeholder="Calle" ng-model="digdeeperProfile.address">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-3">
					<input class="form-control inputProfile" type="number" placeholder="Número" ng-model="digdeeperProfile.numberHouse">
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12">
					<input class="form-control inputProfile" type="text" placeholder="Colonia" ng-model="digdeeperProfile.colony">
				</div>
			</div>
			<div class="row" style="margin-top: 10px">	
				<div class="col-md-5 col-sm-5 col-xs-6">
					<input class="form-control inputProfile" type="text" placeholder="Ciudad" ng-model="digdeeperProfile.city">
				</div>
				<div class="col-md-5 col-sm-5 col-xs-6">
					<select class="form-control inputProfile" placeholder="Estado" ng-model="digdeeperProfile.state">
						<option value="" disabled>- Estado -</option>
						<option value="Aguascalientes">Aguascalientes</option>
						<option value="Baja California">Baja California</option>
						<option value="Baja California Sur">Baja California Sur</option>
						<option value="Campeche">Campeche</option>
						<option value="Chiapas">Chiapas</option>
						<option value="Chihuahua">Chihuahua</option>
						<option value="Coahuila">Coahuila</option>
						<option value="Colima">Colima</option>
						<option value="Distrito Federal">Distrito Federal</option>
						<option value="Durango">Durango</option>
						<option value="Estado de México">Estado de México</option>
						<option value="Guanajuato">Guanajuato</option>
						<option value="Guerrero">Guerrero</option>
						<option value="Hidalgo">Hidalgo</option>
						<option value="Jalisco">Jalisco</option>
						<option value="Michoacán">Michoacán</option>
						<option value="Morelos">Morelos</option>
						<option value="Nayarit">Nayarit</option>
						<option value="Nuevo León">Nuevo León</option>
						<option value="Oaxaca">Oaxaca</option>
						<option value="Puebla">Puebla</option>
						<option value="Querétaro">Querétaro</option>
						<option value="Quintana Roo">Quintana Roo</option>
						<option value="San Luis Potosí">San Luis Potosí</option>
						<option value="Sinaloa">Sinaloa</option>
						<option value="Sonora">Sonora</option>
						<option value="Tabasco">Tabasco</option>
						<option value="Tamaulipas">Tamaulipas</option>
						<option value="Tlaxcala">Tlaxcala</option>
						<option value="Veracruz">Veracruz</option>
						<option value="Yucatán">Yucatán</option>
						<option value="Zacatecas">Zacatecas</option>
					</select>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-3" >
					<input class="form-control inputProfile" type="number" placeholder="CP" ng-model="digdeeperProfile.postalCode">
				</div>
			</div>

			<label class="labelProfile">Fecha de nacimiento</label>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-4">
					<input class="form-control inputProfile" type="number" placeholder="Día" ng-model="digdeeperProfileTemp.dayDate">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4" >
					<select class="form-control inputProfile" placeholder="Mes" ng-model="digdeeperProfileTemp.monthDate">
						<option value="" disabled="">- Mes -</option>
						<option value="enero">Enero</option>
						<option value="febrero">Febrero</option>
						<option value="marzo">Marzo</option>
						<option value="abril">Abril</option>
						<option value="mayo">Mayo</option>
						<option value="junio">Junio</option>
						<option value="julio">Julio</option>
						<option value="agosto">Agosto</option>
						<option value="septiembre">Septiembre</option>
						<option value="octubre">Octubre</option>
						<option value="noviembre">Noviembre</option>
						<option value="diciembre">Diciembre</option>
					</select>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<input class="form-control inputProfile" type="text" placeholder="Año" ng-model="digdeeperProfileTemp.yearDate">
				</div>
			</div>

			<label class="labelProfile">Tu servicio</label>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6" >
					<select class="form-control inputProfile" ng-model="digdeeperProfile.service">
						<option value="" disabled>- Servicio -</option>
						<option ng-repeat="subcat in subcategories" value="{{subcat._id}}">{{subcat.title}}</option>
					</select>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<input class="form-control inputProfile" type= "text" placeholder="Banquete para bodas" ng-model="digdeeperProfile.specialty">
				</div>
			</div>

			<label class="labelProfile">Describa su empresa (en tercera persona)</label>
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<textarea class="form-control inputProfile"  placeholder="Mi empresa" style="resize: none;height: 200px" ng-model="digdeeperProfile.descriptionCompany"></textarea>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="formRegister">Servicio</label><br>
					<div ng-if="athome === true && presencial === true" style="padding: 10px">
						<input type="checkbox" ng-click="selectKindService(1)" ng-model="athome"  checked> A domicilio<br>
						<input type="checkbox" ng-click="selectKindService(2)" ng-model="presencial"  checked> En establecimiento
					</div>
					<div ng-if="athome === true && presencial === false" style="padding: 10px">
						<input type="checkbox" ng-click="selectKindService(1)" ng-model="athome" checked> A domicilio<br>
						<input type="checkbox" ng-click="selectKindService(2)" ng-model="presencial" > En establecimiento
					</div >
					<div  ng-if="presencial === true && athome === false" style="padding: 10px">
						<input type="checkbox" ng-click="selectKindService(1)" ng-model="athome" > A domicilio<br>
						<input type="checkbox" ng-click="selectKindService(2)" ng-model="presencial" checked> En establecimiento
					</div>
					<div  ng-if="presencial === false && athome === false" style="padding: 10px">
						<input type="checkbox" ng-click="selectKindService(1)" ng-model="athome"> A domicilio<br>
						<input type="checkbox" ng-click="selectKindService(2)" ng-model="presencial"> En establecimiento
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="formRegister">Página Web *</label><br>
					<input type="text" class="form-control formRegister" placeholder="Página Web" ng-model="digdeeperProfile.webPage">
					<span class="formInvalidText" ng-if="webPageFailed">
						<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
					</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="formRegister">Fan Page *</label><br>
					<input type="text" class="form-control formRegister" placeholder="Fan Page" ng-model="digdeeperProfile.fanPage">
					<span class="formInvalidText" ng-if="fanPageFailed">
						<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
					</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<label class="formRegister">Instagram *</label><br>
					<input type="text" class="form-control formRegister" placeholder="Instagram" ng-model="digdeeperProfile.instagram">
					<span class="formInvalidText" ng-if="instagramFailed">
						<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
					</span>
				</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<label class="formRegister">Logo de empresa</label>
					<img class="img-responsive" src="{{digdeeperProfile.logo}}" style="border-radius: 5px;margin: 0 auto">
					<form ng-model="myDropzone" class="dropzone dropzoneLogo" method="post" enctype="multipart/form-data" ng-dropzone dropzone-config="dropzoneConfig" dropzone="dropzone" event-handlers="{'error':dzError }" role="form">
						<div class="fallback">
							<input name="source_file[]" type="file" multiple />
						</div>
					</form>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<label class="formRegister">RFC *</label><br>
					<input type="text" class="form-control formRegister" placeholder="RFC" ng-model="digdeeperProfile.rfc">
					<span class="formInvalidText" ng-if="rfcFailed">
						<i class="fa fa-asterisk asterikformInvalid" aria-hidden="true"></i>No puedes dejar este campo en blanco.
					</span>
				</div>
			</div>
			
			<div class="row text-right" style="margin-top: 30px">
				<button class="btn btnEditProfile" ng-click="openEditInfoUserModal(user._id,digdeeperProfile,digdeeperProfileTemp,'digdeeper',athome,presencial)">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'"></div>