<!-- Footer -->
<div class="container-fluid text-center" style="background-color: #E8E8E8;padding-top: 15px;padding-bottom: 0px;margin-bottom: -20px">
	<p class="textFooter" style="font-size: 11px;letter-spacing: 3px;margin-bottom: 5px;">
		DIGDEEPÉANOS AL:<br>
		(222) 290-9180 (222) 431-8868 o escríbenos: <span>managerdigeep@gmail.com<span><br>
	</p>
	<p class="textFooter" style="font-size: 12px;letter-spacing: 2px;margin-bottom: 5px;">¡DIGDEEP LA PLATAFORMA FÁCIL PARA CAVAR Y ENCONTRAR!</p>
	<p class="textFooterCopyRight">
		DIGDEEP © 2017 condiciones de uso | <a ui-sref="noteprivacy">Aviso de privacidad</a> | <a ui-sref="terms">Bases y condiciones</a> | <a ui-sref="questions">Preguntas frecuentes</a> | Directrices Comunitarias | Política de cookies | Política de copyright 
	</p>
</div>