<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>
<!-- Content -->
<div class="container-fluid containerHLS">
	<div class="row panelHLS">
		<div class="row panelHLSContent">
			<div class="col-md-10 texts-panels">	
				<p style="font-size: 25px">
					¿Problemas de peso?<br>¿Dolor de espalda?<br>¿El estrés te está acabando?
				</p><br>
				<p style="font-size: 25px">
					DIGDEEPÉA a profesionales calificados que<br> te ayudarán a tu desarrollo personal
				</p>
			</div>
			<div class="col-md-2 text-center">
				<img src="img/livestyle/rabbitGreenLogo.png" style="max-width: 150px">
			</div>
		</div>

		<div class="div-searchServicesParent">
			<div class="row div-searchServicesChild">
				<div class="row serviceLabel" ng-repeat="subcat in subcategories">
					<button class="col-md-10 col-sm-10 col-xs-10 labelServiceLS btn" ng-click="goServicesLs(subcat._id,subcat.title)">
						{{subcat.title}}
					</button>
					<div class="col-md-2 col-sm-2 col-xs-2 buttonSearchService">
						<button class="btn btn-default" style="height: 37px" ng-click="goServicesLs(subcat._id, subcat.title)">
							<img src="img/livestyle/pinkLens.png" style="max-width: 19px">
						</button>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>