<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>

<!-- Arco de iconos de colores digdeep -->
<div class="container">
	<div class="row" style="height: 130px;margin-top: 140px">
		<div class="col-md-3 col-sm-3 col-xs-0"></div>
		
		<div class="col-md-3 col-sm-3 col-xs-6 text-center" >
			<a ui-sref="homeBE" class="envolturaConejoPink envolturaConejo">
				<img src="img/digRosa.png" class="iconsDigColors">
				<p class="tituloConejoPink">BEAUTY</p>
			</a>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-6 text-center">
			<a class="envolturaConejoSinColor envolturaConejo" style="cursor: not-allowed;text-decoration: none!important;">
				<img src="img/digBlue.png" class="iconsDigColors rabbitdesactived" style="opacity: 0.5 !important;cursor: not-allowed;">
				<p class="tituloConejoSinColor" style="color: #9c9c9c !important;">Hogar</p>
			</a>
		</div>

		

		<div class="col-md-3 col-sm-3 col-xs-0"></div>
	</div>
	<div class="row" style="height: 130px;margin-top: 50px">
		<div class="col-md-5 col-sm-5 col-xs-4 text-center" >
			<a ui-sref="homeES" class="envolturaConejoPurple envolturaConejo" style="float: right">
				<img src="img/digMorado.png" class="iconsDigColors">
				<p class="tituloConejoPurple">Eventos Sociales</p>
			</a>
		</div>

		<div class="col-md-2 col-sm-2 col-xs-4 text-center">
			<img src="img/logoDD.png" class="logoCenterLogin">
		</div>

		<div class="col-md-5 col-sm-5 col-xs-4 text-center">
			<a class="envolturaConejoBlue envolturaConejo" style="float:left;cursor: not-allowed;text-decoration: none!important;">
				<img src="img/digBlue.png" class="iconsDigColors rabbitdesactived" style="opacity: 0.5 !important;cursor: not-allowed;">
				<p class="tituloConejoBlue" style="color: #9c9c9c !important;">Delivery</p>
			</a>
		</div>
	</div>
	<div class="row rowGreen" style="height: 130px;margin-top: 40px;margin-bottom: 100px">
		<div class="col-md-5 col-sm-5 col-xs-0 text-center" >
	
		</div>

		<div class="col-md-2 col-sm-2 col-xs-12 text-center">
			<a ui-sref="homeLS" class="envolturaConejoGreen envolturaConejo">
				<img src="img/digVerde.png" class="iconsDigColors">
				<p class="tituloConejoGreen">LIFE STYLE</p>
			</a>
		</div>

		<div class="col-md-5 col-sm-5 col-xs-0 text-center">
			
		</div>
	</div>
</div>
<div ng-include="'app/templates/footerPage.html'"></div>