<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>
<!-- Content -->
<div class="container-fluid containerHEN">
	<div class="row panelHEN">
		<div class="row panelHENContent" >
			<div class="col-md-10 texts-panels text-center" style="padding-top: 95px;padding-bottom: 80px">	
				<p style="font-size: 25px">CAVANDO...</p><br>
				<p style="font-size: 22px">
					Como un ágil conejo excavador de tuneles, DIGDEEP busca<br>
					hasta en lo más profundo para encontrar el proveedor<br>
					que requieras y a la medida de tus necesidades.
				</p><br>
				<p style="font-size: 25px">¡Nuestro objetivo!</p><br>
				<p style="font-size: 22px">
					Resolver todas tus dudas acerca de conciertos, obras de<br>teatro, festivales, ferias, exposiciones, partidos de<br>futbol, y centros nocturnos.
				</p><br>
				<p style="font-size: 28px">
					¡Tú eliges la mejor opción de entretenimiento!
				</p>
			</div>
			<div class="col-md-2 text-center">
				<img src="img/entertainment/rabbitRedLogo.png" style="max-width: 150px">
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>