<div ng-include="'app/templates/topnav.html'"></div>
<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>
<!-- Content -->
<div class="container-fluid containerBEA">
	<div class="row panelBEA">
		<div class="row panelBEAContent" >
			<div class="col-md-10 texts-panels">	
				<p style="font-size: 25px">¿Bodas? ¿Cumpleaños?</p>
				<p style="font-size: 25px">¡Nosotros te lo armamos!</p>
				<p style="font-size: 30px">¡DIGDEEPÉALO!</p>
			</div>
			<div class="col-md-2 text-center">
				<img src="img/beauty/rabbitPinkLogo.png" style="max-width: 150px">
			</div>
		</div>

		<div class="div-searchServicesParent">
			<div class="row div-searchServicesChild">
				<!-- Categorias activas -->
				<div class="row" ng-repeat="subcat in subcategories" >
					<div class="serviceLabel">
						<button class="col-md-10 col-sm-10 col-xs-10 labelServiceBE btn" ng-click="goServicesBe(subcat._id, subcat.title)" ng-if="subcat.slug != 'wedding-planner'">
							{{subcat.title}}
						</button>
						<div class="col-md-2 col-sm-2 col-xs-2 buttonSearchService">
							<button class="btn btn-default" style="height: 37px" ng-click="goServicesBe(subcat._id, subcat.title)">
								<img src="img/beauty/lupa.png" style="max-width: 19px">
							</button>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>