<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>
<!-- Content -->
<div class="container-fluid containerHDE">
	<div class="row panelHDE">
		<div class="row panelHDEContent" >
			<div class="col-md-10 texts-panels text-center" style="padding-top: 95px;">	
				<p style="font-size: 25px">CAVANDO...</p><br>
				<p style="font-size: 22px">
					Como un ágil conejo excavador de tuneles, DIGDEEP busca<br>
					hasta en lo más profundo para encontrar el proveedor<br>
					que requieras y a la medida de tus necesidades.
				</p><br>
				<p style="font-size: 25px">¡Nuestro objetivo!</p><br>
				<p style="font-size: 22px">
					Te ayudamos a conseguir todo lo necesario para tus<br>reuniones sin necesidad de salir de casa y arruinar el<br>momento con tu familia o amigos.
				</p><br>
				<p style="font-size: 28px">
					¡Que no se te acabe la fiesta!
				</p>
				<div class="text-center">
					<a href="https://www.facebook.com/DigDeepDelivery/">
						<img src="img/messenger.png" class="iconSocialChat">
					</a>
					<a href="tel:2212013547">
						<img src="img/whatsapp.png" class="iconSocialChat">
					</a>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<img src="img/delivery/rabbitBlueLogo.png" style="max-width: 150px">
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>