<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>

<header class="text-right divHeader"><span class="colorBlueTitle">¿CÓMO FUNCIONA?</span></header>
<div class="container-fluid containerServices backgroundHe">
	<div class="row panelHfDD">
		<div class="row divHF">
			<p>
				<span class="text-hfList">1. Regístrate.</span><br>
				<span class="text-hfList2">Crea un perfil, con tus datos personales y de contacto.</span>
			</p>
			<p>
				<span class="text-hfList">2. Digdepéalo</span><br>
				<span class="text-hfList2">Selecciona el servicio deseado para conocer a los diferentes profesionales que pueden ayudarte, toca DIGDEEPEAR para obtener tu código de atención.</span>
			</p>
			<p>
				<span class="text-hfListpink">3. Recibe a tu Digdeeper a la puerta de tu casa,</span><span class="text-hfList2"> verifica su código de atención y disfruta de sus servicios profesionales.</span>
			</p>
			<p>
				<span class="text-hfListpink">4. Paga seguro</span><span class="text-hfList2">. Una vez finalizado el servicio de tu DIGDEEPER se realizará el cargo automáticamente en tu tarjeta de crédito.</span>
			</p>
			<p>
				<span class="text-hfList">5. Califica, comenta, y comparte</span><span class="text-hfList2"> tu opinión sobre la atención de tu DIGDEEPER con los demás usuarios de la red.</span>
			</p>
		</div>
		<div class="row" >
			<img src="img/comoFuncionaDD.png" class="imgHF img-responsive">
		</div>
	</div>
</div>
<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>