<div ng-include="'app/templates/topnav.html'"></div>
<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>

<header class="text-right divHeader"><span class="colorBlueTitle">¿Cómo ser Digdeeper?</span></header>
<div class="container-fluid containerServices backgroundLuz" >
	<div class="row panelHtbDD">
		<div class="row divHtbDD">
			<p class="textContentHowtobeDD">Encuentra nuevos clientes y expande tu negocio con la plataforma de DIGDEEP y empieza a cubrir una necesidad por medio de nuestros profesionales.</p>
			<p class="textContentHowtobeDD">Todos nuestros DIGDEEPERS están calificados y certificados, y es necesario contar como mínimo con 5 años de experiencia en el mercado.</p>
		</div>
		<div class="row" >
			<img src="img/comoSerDD.png" class="imgTobeDD img-responsive">
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>