<div ng-include="'app/templates/topnav.html'"></div>

<header class="divHeader2">
	<a ui-sref="home">
		<img src="img/logoBarDD.png" class="logoBar" style="float: left;">	
	</a>
	<span class="colorBlueTitle" style="float: right;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #1d75b6;"></i> HISTORIAL DE PEDIDOS</span>
</header>
<div class="container containerDDMenu">
	<div class="row">
		<div class="col-md-1 col-md-offset-2 col-sm-1 col-xs-12 text-right" ng-include="'app/templates/menus/ordersMenu.html'" >
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<!-- card description-->
			<div class="row" style="margin-top:20px" ng-if="orders.length == 0">
				<h4 class="titleSorry">Lo sentimos aún no hay pedidos.</h4>
			</div>
			<div class="row" ng-if="orders.length > 0">
				<div class="col-md-4 col-sm-4 col-xs-12" style="padding: 23px;padding-top: 0px" ng-repeat="order in orders | orderBy:'-requestedDate'" ng-if="order.status === tabCurrentOrders && ([$index] < finalIndex && [$index] >= initIndex)">
					<div class="row" style="padding: 15px; height: 630px;" ng-class="{statusDefault: order.status != 3, finalizado: order.status == 3}">
						<div style="text-align: right;color: white;font-size: 10px">
							{{order._id}}
						</div>
						<div class="text-center digdeperTitleCard" style="padding-top: initial!important">
							<span>{{order.dataService.title}}</span>
						</div>
						<div class="text-center" >
							<img class="img-responsive" src="{{order.dataService.picture}}" style="display: block;margin: 0 auto">
						</div>
						<div class="text-center digdeperImg">
							<img src="{{order.dataService.imgUser}}" class="img-responsive digdeperImg">
						</div>
						<div class="text-center">
							<p style="color: white">
								<span class="digdeperSubTitleCard">Usuario: {{order.dataService.nameUser}}</span>
								<br>
								<span class="digdeperContentCard">Precio: {{order.dataService.cost | currency}}</span>
							</p>
						</div>
						<hr color="white">
						<div class="text-center">
							<div style="color: white">
								<span class="digdeperSubTitleCard">Duración</span><br>
								<span class="digdeperContentCard">
									<i class="fa fa-calendar" aria-hidden="true" style="color: white"></i> {{order.dataService.dateInit | date:'dd-MM-yyyy'}} - {{order.dataService.dateFinish | date:'dd-MM-yyyy'}}
								</span><br>
								<span class="digdeperContentCard">
									<i class="fa fa-clock-o" aria-hidden="true" style="color: white"></i> {{order.dataService.hourInit | date:'hh:mm a'}} - {{order.dataService.hourFinish | date:'hh:mm a'}}
								</span>
							</div>
							<div class="text-center">
								<a ng-click="openDataDeliveryModal(order.dataDelivery,order.dataService.coordinates)"><i class="fa fa-address-card-o" aria-hidden="true" style="color: white"></i></a>
							</div>
						</div>
						<hr color="white">
						<div class="row text-center" style="color: white">
							<div class="col-md-6 col-sm-6 col-xs-6" style="padding: inherit">
								<div ng-if="order.status === 1">
									<span class="digdeperSubTitleCard">Pendiente</span><br>
									<i class="fa fa-history" aria-hidden="true" style="color: white"></i>
								</div>
								<div ng-if="order.status === 2">
									<span class="digdeperSubTitleCard">En proceso</span><br>
									<i class="fa fa-exchange" aria-hidden="true" style="color: white"></i>
								</div>
								<div ng-if="order.status === 3">
									<span class="digdeperSubTitleCard">Finalizado</span><br>
									<i class="fa fa-check-circle" aria-hidden="true" style="color: white"></i>
								</div>
								<div ng-if="order.status === 4">
									<span class="digdeperSubTitleCard">Cancelado</span><br>
									<i class="fa fa-ban" aria-hidden="true" style="color: white"></i>
								</div>
								<div ng-if="order.status === 5">
									<span class="digdeperSubTitleCard">Pagado</span><br>
									<i class="fa fa-money" aria-hidden="true" style="color: white"></i>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6" style="padding: inherit">
								<div ng-if="order.status === 1" style="text-align:center">
									<span class="digdeperSubTitleCard">
										Solicitado:
									</span><br>
									<span>{{order.requestedDate | date:'dd-MM-yyyy'}}</span>
								</div>
								<div ng-if="order.status === 2">
									<button class="btn btnFinish" ng-click="openFinishOrderModal(order._id)">Finalizar</button>		
								</div>
								<div ng-if="order.status === 3">
									<button class="btn btnFinish" ng-click="openPayTotalServiceModal(order._id,user._id,order)">PAGAR</button>	
								</div>
								<div ng-if="order.status === 333 || order.status ===5">
									<span class="digdeperSubTitleCard">Calificación</span><br>
									<span uib-rating ng-model="order.value" max = 5 read-only="true" titles="['servicio cumplido','servicio regular','buen servicio','eficiente servicio','exelente servicio']" aria-labelledby="default-rating"></span>
								</div>
								<div ng-if="order.status === 4" class="text-center">
									<span class="digdeperSubTitleCard" style="text-align: center">
										Fecha:
									</span><br>
									<span>
										{{order.endDateService | date:'dd-MM-yyyy'}}
									</span>
								</div>
							</div>
						</div>
						<hr color="white">
						<div style="color: white">
							<div ng-if="order.status === 1" class="text-left">
								<span class="digdeperSubTitleCard">
									Nota: Esperando a que el proveedor acepte el servicio.
								</span>
							</div>
							<div ng-if="order.status === 2" class="text-left">
								<span class="digdeperSubTitleCard">
									Fecha/Aceptado: 
								</span>
								<span>
									{{order.startDateService | date:'dd-MM-yyyy'}}
								</span><br>
								<span class="digdeperSubTitleCard">
									Nota:
								</span><br>
								<span>
									Digdeep te pagará cuando finalizes el servicio.
								</span>		
							</div>
							<div ng-if="order.status === 3 || order.status === 5" class="text-center">
								<div>
									<span class="digdeperSubTitleCard">
										Fecha/Finalización: 
									</span><br>
									<span>{{order.endDateService | date:'dd-MM-yyyy'}}</span><br>
									<div ng-if="order.status === 3">
										<span class="digdeperSubTitleCard">
										Adeudo por: 
										</span><br>
										<span>{{order.dataService.cost | currency}}</span>
									</div>
								</div>
								<div ng-if="order.status === 5">
									<span class="digdeperSubTitleCard">
										Fecha/Pagado: 
									</span><br>
									<span>{{order.payDateService | date:'dd-MM-yyyy'}}</span>
								</div>
							</div>
							<div ng-if="order.status === 4" class="text-left" style="overflow-y: auto;height: 90px">
								<span class="digdeperSubTitleCard">
									Cancelado por:
								</span><br>
								<span>
									{{order.dataCancelOrder.cancelledBy}}
								</span><br>
								<span class="digdeperSubTitleCard">
									Razones de cancelación: 
								</span><br>
								<span>{{order.dataCancelOrder.cancelReasons}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<ul uib-pagination direction-links="false" boundary-links="true" items-per-page = {{limitPage}} total-items="numOrders" ng-model="currentPage" ng-change="pageChanged(currentPage)"></ul>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'"></div>