<header class="text-center" style="margin-top: 0px;background-color: #E8E8E8;padding: 10px">
	<span class="colorBlueTitle">Aviso de privacidad</span>
</header>

<div class="container-fluid">
	<a class="btn buttonHome" ui-sref="home">
		Home
	</a>
	<div class="row text-center divTerms">
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
		<div class="col-md-8 col-sm-60 col-xs-12">
			<div class="staticP">
				<img src="img/logoDD.png" style="width: 15%;margin-bottom: 20px;">
				<p style="padding: 20px;text-align : justify;">
					<label style="float: left">
						° POLÍTICA DE PRIVACIDAD 
					</label>
					<br>

					La privacidad de nuestros clientes es primordial para nosotros. Motivo por el cual, hemos elaborado una Política de Privacidad que regula la forma en la que es utilizada, almacenada y transferida su información. 

					<br><br>
					<label style="float: left">
						° INFORMACIÓN PERSONAL
					</label>
					<br>
					
					La información personal proporcionada está constituida por datos que pueden ser utilizados exclusivamente para identificar o contactar a una persona. Asimismo, en cualquier momento cuando usted use nuestros servicios, en su calidad de usuario puede ser solicitada información personal y ser utilizada en virtud de la presente Política de Privacidad. En el momento en que usted crea su usuario y accede proporcionando su información personal, está aceptando, autorizando y consintiendo dichas políticas de conformidad con los artículos 7, 8 y demás relativos de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.

					<br><br>
					<label style="float: left">
						° ¿QUÉ INFORMACIÓN PERSONAL ES RECOLECTADA?
					</label>
					<br>
					
					En el momento que usted crea un usuario, instala la aplicación o utiliza la aplicación, podrá se recopilada diversa información incluida su nombre, dirección, número de teléfono, dirección de correo electrónico, entre otros. Una vez enviada esta información usted acepta, autoriza y otorga su consentimiento a Dig Deep  para utilizar esta información de conformidad con los artículos 7, 8, 9 y demás aplicables de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.

					<br><br>
					<label style="float: left">
						° ¿QUÉ INFORMACIÓN PERSONAL ES RECOLECTADA?
					</label>
					<br>

					En el momento que usted crea un usuario, instala la aplicación o utiliza la aplicación, podrá se recopilada diversa información incluida su nombre, dirección, número de teléfono, dirección de correo electrónico, entre otros. Una vez enviada esta información usted acepta, autoriza y otorga su consentimiento a Dig Deep  para utilizar esta información de conformidad con los artículos 7, 8, 9 y demás aplicables de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.

					<br><br>
					<label style="float: left">
						° ARCHIVOS GENERADOS POR DIG DEEP
					</label>
					<br>
					

					Toda interacción realizada a través de Dig Deep pueden utilizar “cookies”, archivos generados por el software y otras tecnologías, teniendo como finalidad comprender mejor la conducta del usuario, correcto funcionamiento de Dig Deep, y las búsquedas. Sin embargo, en la medida en que la legislación local considere a las direcciones IP (protocolo de Internet) o a identificadores similares como información personal, también lo haremos nosotros. De igual manera, en la medida en que la información general se combine con datos personales, trataremos a la información así combinada como información personal a los efectos de la presente Política de Privacidad.

					<br><br>
					<label style="float: left">
						° CONSERVACIÓN Y PROTECCIÓN DE INFORMACIÓN PERSONAL
					</label>
					<br>
					

					Dig Deep conservará su información personal de una forma precisa, completa y actualizada. La información personal se conservará por el período que sea necesario para cumplir con los fines establecidos en la presente Política de Privacidad, excepto que por ley se requiera o autorice un período de conservación superior.
					
					<br><br>
					<label style="float: left">
						° ACCESO A LA INFORMACIÓN PERSONAL
					</label>
					<br>
					

					Usted permitirá ayudarnos a garantizar que su información de contacto y sus preferencias sean precisas, se encuentren completas y están actualizadas al realizar la comprobación de datos en la sección de configuración de su usuario

					<br><br>
					<label style="float: left">
						° SITIOS Y SERVICIOS DE TERCEROS
					</label>
					<br>
					

					Dig Deep y los servicios ofrecidos pueden contener enlaces hacia páginas, productos y servicios de terceros, por lo cual le recomendamos que obtenga mayor información acerca de dichas políticas de privacidad.

					<br><br>
					<label style="float: left">
						° EL COMPROMISO DE DIG DEEP CON SU PRIVACIDAD
					</label>
					<br>
					
					A fin de garantizar que su información personal se encuentre resguardada de manera correcta, le damos a conocer las normas y reglas a seguir por parte de las personas que laboran directamente en Dig Deep imponiendo estrictas medidas de seguridad.

					<br><br>
					<label style="float: left">
						° NORMATIVIDAD
					</label>
					<br>
					

					Las presentes políticas de privacidad no son contrarias a lo establecido por las Leyes Mexicanas ya que están reguladas y cumplen con lo dispuesto en la Ley Federal de Protección de Datos de Personas en Posesión de los Particulares.

					<br><br>
					<label style="float: left">
						° JURISDICCIÓN
					</label>
					<br>
					

					Cualquier controversia relacionada con la interpretación y aplicación de las presentes Políticas de Privacidad, se regirán por las Leyes del Estado de Puebla y serán juzgados por os Tribunales de Puebla, renunciando los Titulares de los Datos de Personales al fuero de sus domicilios.
				</p>
			</div>
		</div>
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
		
	</div>
</div>