<div ng-include="'app/templates/topnav/topnavLogin.html'" ng-if="typeUser === 'userNoLogin'"></div>
<div ng-include="'app/templates/topnav/topnavRollUser.html'" ng-if="typeUser === 'user'"></div>
<div ng-include="'app/templates/topnav/topnavRollDigdeeper.html'" ng-if="typeUser === 'digdeeper' || typeUser=== 'bothTypesUser'"></div>

<div class="container-fluid" >
	<!-- Logo Digdeep -->
	<img src="img/logoDD.png" class="logoCenterpreHome">

	<p class="text-center" style="margin-top: 45px"><span class="textColorLightBlue text-loginCenter">DIGDEEPÉA</span> <span class="textColorStrongBlue text-loginCenter">SERVICIOS PERSONALES O PARA TU EMPRESA,<br> DE MANERA </span><span class="textColorLightBlue text-loginCenter">RÁPIDA, SEGURA Y SENCILLA"</span></p>

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12 divBannerLeft">
			<a class="linkprehomeDP" ui-sref="home">
				<img src="img/bannerIzquierdoDD.png" class="img-responsive digPerImg">
			</a>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12 divBannerRight">
			<a ui-sref="">
				<img src="img/bannerDerechoDD.png" class="img-responsive digEmpImg">
			</a>
		</div>
	</div>
</div>