<div ng-include="'app/templates/topnav.html'"></div>

<!-- nav bar rabbits -->
<div class="container-fluid containerRabbit" >
	<div class="row backgroundBar" >
		<div class="col-md-1 col-sm-1 col-xs-12" style="width: 6.8%"></div>
		<div class="col-md-2 col-sm-2 col-xs-12 text-left">
			<a ui-sref="homeLS">
				<img src="img/livestyle/digGreenLogoBar.png" class="logoBar">
			</a>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12" >
			<div class="row rabbitsRow">
				<a ui-sref="homeES">
					<div class="col-md-2 col-sm-3 col-xs-6 colRabbitIcon colRabbitIconPu linkBarRabbits">
						<img src="img/digMorado.png" class="rabbitColor">
						<span class="colorPurpleRabbit">
							EVENTOS SOCIALES
						</span>
					</div>
				</a>
				<a ui-sref="homeLS">
					<div class="col-md-2 col-sm-3 col-xs-6 colRabbitIcon colRabbitIconPi linkBarRabbits">
						<img src="img/digVerde.png" class="rabbitColor">
						<span class="colorGreenRabbit">
							LIFE STYLE
						</span>
					</div>
				</a>
				<a ui-sref="homeBE">
					<div class="col-md-2 col-sm-3 col-xs-6 colRabbitIcon colRabbitIconRe linkBarRabbits">
						<img src="img/digRosa.png" class="rabbitColor">
						<span class="colorPinkRabbit">
							BEAUTY
						</span>
					</div>
				</a>
				<a style="cursor: not-allowed;">
					<div class="col-md-2 col-sm-3 col-xs-6 colRabbitIcon colRabbitIconGR linkBarRabbits">
						<img src="img/digVerde.png" class="rabbitColor rabbitdesactived" style="opacity: 0.9 !important;">
						<span class="colorGreenRabbit" style="color: #9c9c9c !important;">
							HOGAR
						</span>	
					</div>
				</a>
				<a style="cursor: not-allowed;">
					<div class="col-md-2 col-sm-3 col-xs-6 colRabbitIcon colRabbitIconBl linkBarRabbits">
						<img src="img/digBlue.png" class="rabbitColor rabbitdesactived" style="opacity: 0.5 !important;">
						<span class="colorBlueRabbit" style="color: #9c9c9c !important;">
							DELIVERY
						</span>	
					</div>
				</a>
			</div>
		</div>	
	</div>
</div>
<!--Content-->
<div class="container-fluid containerLSImg">
	<div style="height: 100%;background-color: #8fbc1f82"></div>
</div>
<div class="container containerServicesContent" >
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12" >
			<div class="row div-searchServices2">
				<div class="row serviceLabel2LS" ng-repeat="subcat in subcategories">
					<button class="col-md-10 col-sm-10 col-xs-10 labelServiceLS btn" ng-click="goDigdeepersLs(subcat._id, subcat.title)">
						{{subcat.title}}
					</button>
					<div class="col-md-2 col-sm-2 col-xs-2 buttonSearchService">
						<button class="btn btn-default" style="height: 37px" ng-click="goDigdeepersLs(subcat._id,subcat.title)">
							<img src="img/livestyle/lupa.png" style="max-width: 18px">
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-12">
			<h3 class="titleLSservices">{{titleSubcat}}</h3>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 cardContainer" ng-repeat="digdeeper in digdeepers">
					<div class="cardSubContainerLS">
						<!--<div ng-click="openDetailsDigdeeperModal(digdeeper)" style="cursor: pointer">-->
						<div ng-click="goServicesToDigdeeper(digdeeper._id)" style="cursor: pointer">
							<div style="padding: 10px">
								<img class="img-responsive imgprofileCard" src="{{digdeeper.urlImg}}" onerror="this.src='http://res.cloudinary.com/dclbqwg59/image/upload/v1529014920/user_default.png';" >
							</div>
							<div class="text-center contentCardServiceESLS">
								<p>
									<span class="textTitleCard">{{digdeeper.fullname | capitalize}}</span><br>
									<span class="textContentCard">{{digdeeper.state}}</span><br>
									<span class="textContentCard">{{digdeeper.specialty}}</span><br>
								</p>
								<!--<p>
									<span uib-rating ng-model="digdeeper.calf" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['servicio cumplido','servicio regular','buen servicio','eficiente servicio','exelente servicio']" aria-labelledby="default-rating"></span><br>
									<span>({{digdeeper.values.length}})</span>
								</p>
								<p>
									<span class="textSubTitleCard">
										Descripción de la empresa
									</span><br>
									<span class="textDescriptionCard">
										{{digdeeper.descriptionCompany}}
									</span>
								</p>-->
							</div>
							<div class="text-center">
								<p class="textCostCard"></p>
							</div>
						</div>
						<!--<div class="text-center" ng-click="goServicesToDigdeeper(digdeeper._id)">
							<button class="btn btn-block buttonContractCardLS">IR A SERVICIOS</button>
						</div>-->
					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>