<header class="text-center" style="margin-top: 0px;background-color: #E8E8E8;padding: 10px">
	<span class="colorBlueTitle">Preguntas frecuentes</span>
</header>

<div class="container-fluid">
	<a class="btn buttonHome" ui-sref="home">
		Home
	</a>
	<div class="row text-center divTerms">
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
		<div class="col-md-8 col-sm-60 col-xs-12">
			<div class="staticP">
				<img src="img/logoDD.png" style="width: 15%;margin-bottom: 20px;">
				<p style="padding: 20px;text-align : justify;">
					<label style="float: left">
						° ¿Dónde puedo hacer una cita con un DigDeeper? 
					</label>
					<br>

					Por el momento únicamente estamos en la ciudad de Puebla. Pero estamos trabajando muy fuerte para llegar a otros lados de la Republica. 

					<br><br>
					<label style="float: left">
						° ¿Pagan los DigDeeper por pertenecer a Dig Deep?
					</label>
					<br>
					
					No. Todos los DigDeeper entran de manera gratuita después de pasar unos filtros de selección, ya que el objetivo de Dig Deep es contar con profesionistas  altamente calificados de cada ciudad. 

					<br><br>
					<label style="float: left">
						° ¿Necesito tener una cuenta en Dig Deep para poder ver los servicios que ofrecen los diversos proveedores?
					</label>
					<br>
					
					No, tu puedes entrar a explorar la plataforma para ver todos los proveedores con los que contamos y cada uno de los servicios que estos ofrecen, de igual forma puedes ver su disponibilidad y si ofrecen servicio a domicilio o en su establecimiento sin tener que crear una cuenta previamente.

					<br><br>
					<label style="float: left">
						° ¿Cómo puedo iniciar sesión con mi cuenta de Usuario o Digdeeper?
					</label>
					<br>
					1.- Haz clic en la palabra "Usuario" o “DigDeeper”, que encontrarás al inicio de la plataforma (asegúrate de revisar que quede seleccionada una opción correctamente).<br>
					2.- Ingresa el correo electrónico y contraseña con la que te diste de alta.
		
					<br><br>
					<label style="float: left">
						° He olvidado mi contraseña ¿Qué puedo hacer?
					</label>
					<br>
					1.- En el momento que te piden tu correo y contraseña con el que previamente te diste de alta, en la parte de abajo del recuadro de la contraseña aparece una leyenda que dice “¿olvidaste tu contraseña?” la cual le debes de dar clic.
					<br>
					2.- Te saldrá un recuadro pidiéndote el correo electrónico con el que te registraste.
					<br>
					3.- Recibirás un e-mail con una contraseña temporal, con la cual podrás acceder a Dig Deep y te recomendamos que la cambies en la sección de tu perfil, en donde dice “cambiar contraseña”.
					<br><br>
					<label style="float: left">
						° ¿Cómo puedo modificar los datos de mi cuenta de Dig Deep?
					</label>
					<br>
					1.- Clic en la parte superior derecha en donde dice tu nombre con el que te registraste.<br>
					2.- Te llevará directo a tu perfil en el cual podrás hacer todos los cambios que desees.<br>
					3.- Dar clic en el botón “Guardar Cambios” para que estos se guarden en automático. 
					
					<br><br>
					<label style="float: left">
						° ¿Qué tarjetas puedo usar para hacer los pagos con Dig Deep?
					</label>
					<br>
					Tarjetas crédito y débito, Visa, Master Card y American Express.

					<br><br>
					<label style="float: left">
						° ¿Puedo pagar en efectivo?
					</label>
					<br>
					
					¡Ya no necesitas efectivo! Ahora con Dig Deep por tu seguridad y la nuestra, los pagos se hacen únicamente con tu tarjeta de crédito o débito de manera cómoda, fácil y segura.

					<br><br>
					<label style="float: left">
						° ¿Qué pasa si mi Aliada no llega?
					</label>
					<br>
					En el raro caso que tu DigDeeper no se presente a su servicio agendado, notifícanos y te re-agendaremos tu servicio para el día y hora que tu desees.
					
					<br><br>
					<label style="float: left">
						° ¿Puedo cancelar/reagendar una visita?
					</label>
					<br>
					Claro,  Si necesitas cancelar o reagendar una cita, puedes hacerlo por medio de la página web. Entra a tu perfil de usuario y haz los cambios que necesites.. Los cambios y cancelaciones se deben de hacer por lo menos 24 horas antes de la cita programada, esto para que tu DigDeeper tenga la oportunidad de aceptar otro servicio. Los servicios cancelados con menos de 24 horas de anticipación estarán sujetos a un cargo de $100 pesos.
					<strong>* Sujeto a disponibilidad.</strong>

					<br><br>
					<label style="float: left">
						° ¿Puedo hacer mi reservación por teléfono?
					</label>
					<br>
					Únicamente las reservaciones se pueden realizar desde la página web para que de forma segura podamos asegurar tu pago y la información confidencial que nos proporcionaste.

					<br><br>
					<label style="float: left">
						° ¿Qué garantía de seguridad tengo al crear mi cuenta como usuario de Dig Deep?
					</label>
					<br>
					Una de nuestras prioridades es cuidar de tu seguridad, es por eso que somos sumamente cuidadosos con lo confidencialidad de tus datos personales que nos compartes. Para mayor información puedes consultar nuestra <a ui-sref="noteprivacy" style="text-decoration: underline;">política de privacidad</a>.
				</p>
			</div>
		</div>
		<div class="col-md-2 col-sm-20 col-xs-0"></div>
	</div>
</div>