<div ng-include="'app/templates/topnav.html'"></div>
<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>

<header class="text-right divHeader"><span class="colorBlueTitle">SERVICIOS</span></header>
<div class="container-fluid containerServices backgroundHerramientas" style="padding-top: 45px">
	<div class="row panelServices" style="padding-bottom: 25px">
		<div class="row" >
			<p class="textContentServices">¡Nos ponemos a TU ORDEN!</p>
			<p class="textContentServices2">Ordena los mejores servicios y proveedores de Puebla, certificados y calificados ¡a la mano! DIGDEEPÉALOS en sólo un click.</p>
			<p class="textContentServices3">Conoce nuestros 4 conejos que cavarán por ti y harán tu<br> vida más fácil.</p>
		</div>
		<div class="row divSRb">
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<a ui-sref="homeES" class="envolturaConejoPurple envolturaConejo">
					<img src="img/digMorado.png" class="rabbitColorServices"><span class="colorPurpleRabbitServices"><br>EVENTOS SOCIALES</span>
				</a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<a ui-sref="homeBE" class="envolturaConejoRed envolturaConejo">
					<img src="img/digRosa.png" class="rabbitColorServices"><span class="colorPinkRabbitServices"><br>BEAUTY</span>
				</a>
			</div>
		</div>
		<div class="row divSRb">
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<a ui-sref="homeLS" class="envolturaConejoPink envolturaConejo">
					<img src="img/digVerde.png" class="rabbitColorServices"><span class="colorGreenRabbitServices"><br>LIFE STYLE</span>
				</a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<a class="envolturaConejoBlue envolturaConejo" style="cursor: not-allowed;text-decoration: none!important;">
					<img src="img/digBlue.png" class="rabbitColorServices rabbitdesactived" style="opacity: 0.4!important"><span class="colorBlueRabbitServices" style="color: #9c9c9c !important;"><br>DELIVERY</span>
				</a>
			</div>
		</div>
		<div class="row divSRb">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<a class="envolturaConejoPink envolturaConejo" style="cursor: not-allowed;text-decoration: none!important;">
					<img src="img/digVerde.png" class="rabbitColorServices rabbitdesactived" style="opacity: 0.9!important"><span class="colorGreenRabbitServices" style="color: #9c9c9c !important;"><br>HOGAR</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>
