<!--subTopnav-->
<div class="container">
	<div class="row subtopnavRow" >
		<div class="col-md-10 col-sm-12 col-xs-12">
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colRegresar">
				<a class="linkSubTopnav"  ui-sref="home" ng-click="selectTabSubMenu(0)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab0}}"></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab0}}"> 
						Home
					</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colQueEs" >
				<a class="linkSubTopnav" ui-sref="whatisdigdeep" ng-click="selectTabSubMenu(1)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab1}}" ></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab1}}"> 
						¿Qué es DIGDEEP?
					</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colPorqueUsar" >
				<a class="linkSubTopnav" ui-sref="whyusedigdeep" ng-click="selectTabSubMenu(2)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab2}}" ></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab2}}"> 
						¿Por qué usar DIGDEEP?
					</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colComofunciona">
				<a class="linkSubTopnav" ui-sref="howfunctiondigdeep" ng-click="selectTabSubMenu(3)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab3}}"></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab3}}"> 
						¿Cómo Funciona?
					</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colServicios">
				<a class="linkSubTopnav" ui-sref="servicesdigdeep" ng-click="selectTabSubMenu(4)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab4}}"></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab4}}"> 
						Servicios
					</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 text-center colContacto" >
				<a class="linkSubTopnav" ui-sref="contactdigdeep" ng-click="selectTabSubMenu(5)">
					<i class="fa fa-sort-desc" aria-hidden="true" style="{{classSTab5}}"></i><br>
					<span class="text-subtopnavMenu" style="{{classSTab5}}"> 
						Contacto
					</span>
				</a>
			</div>
		</div>
	</div>
</div>