<div ng-include="'app/templates/topnav.html'"></div>
<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>

<header class="text-right divHeader"><span class="colorBlueTitle">¿Qué es DIGDEEP?</span></header>
<div class="container-fluid containerServices backgroundLuz">
	<div class="row panelHtbDD" >
		<div class="row divWIDD" >
			<p>
				<span class="text-widd">¡EXCAVADORES BUSCANDO PROVEEDORES!</span>
			</p>
			<p>
				<span class="text-widd2">Como un ágil conejo excavador de túneles que conecta todas sus habitaciones, DIGDEEP cava hasta lo más profundo para encontrar el proveedor que requieres y a la medida de tus necesidades.</span>
			</p>
			<p>
				<span class="text-widd2">Somos una plataforma segura, confiable y fácil de usar, en la cual podrás encontrar a proveedores profesionales altamente calificados, líderes en su ramo concentrados en su lugar, facilitándote la búsqueda y garantizando un servicio de calidad.</span>		
			</p>
			<p>
				<span class="text-widd">¡EL DIGDEEPER que estás buscando!</span>
			</p>
			<p>
				<span class="text-widd2">Nuestro objetivo es resolver tus necesidades de manera rápida y segura creando un enlace con nuestros DIGDEEPERS.</span>
			</p>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>