<div ng-include="'app/templates/topnav.html'"></div>

<div ng-include="'app/templates/subTopNav.html'" scope="" onload=""></div>
<div ng-include="'app/templates/barRabbitsColors.html'" scope="" onload=""></div>


<header class="text-right divHeader"><span class="colorBlueTitle">¿POR QUÉ USAR DIGDEEP?</span></header>
<div class="container-fluid containerServices backgroundFoco">
	<div class="row panelHfDD">
		<div class="row divWfDD" >
			<p>
				<span class="text-wtudd">Que ni el tiempo ni el tráfico sean un pretexto.</span>
			</p>
			<p>
				<span class="text-wtudd2">¡Mejor DIGDEEPÉALO!</span>
			</p>
			<p>
				<span class="text-wtudd3">Una de las mayores necesidades en los últimos años ha sido contactarnos con los demás de manera inmediata y eficiente.<br>Sabemos que buscas servicios de excelencia, y que deseas poder encontrarlos y contactarlos de manera inmediata, segura y confiable, por ello hemos desarrollado esta plataforma que te conecta con nuestros DIGDEEPERS para satisfacer tus necesidades.</span>		
			</p>
			<p>
				<span class="text-wtudd3">Un DIGDEEPER, ¡conoce el trayecto! es un profesional altamente calificado, con amplia experiencia, líder en su ramo, que busca satisfacer, con altos estándares de calidad, las necesidades de sus consumidores.</span>
			</p>
			<p>
				<span class="text-wtudd2">BENEFICIOS</span>
			</p>
			<p>
				<span class="text-wtudd3">
					Líderes en su ramo en la cd. de Puebla
				</span>
			</p>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="text-wtudd3">
						<li>-Amplia experiencia</li>
						<li>-Certificados</li>
						<li>-Tu solución en la palma de tu mano</li>
						<li>-Ahorro</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="text-wtudd3">
						<li>-Seguridad</li>
						<li>-Calificados</li>
						<li>-Recomendados por usuarios</li>
						<li>  DIGDEEP</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/templates/footerPage.html'" scope="" onload=""></div>